@charset "UTF-8";
header{
    position: fixed;
    width:100%;
    height:120px;
    background-color: #db9292;
    z-index: 20;
    transition: all ease 0.2s;
}
.fixed header{
    left: 0;
    height:100px;
    .logo{
        transform: translateY(-20px);
    }
}
h1{font-size: 0;line-height: 0;}
.accessibility{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 9999;
    a{
        display: block;
        overflow: hidden;
        position: relative;
        height: 0;
        text-align: center;
        &:focus{
            height:auto; 
            padding-top:5px; 
            padding-bottom:5px; 
            background-color:$Black; 
            color:$White;
        }
    }
}

.logo{
    position: absolute;
    top:55px;
    transition: all ease 0.2s;
    
}

.gnb {
    position: relative;
    height: 100%;
    .wrap{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            margin: 0 25px;
            a{
                font-size:18px;
                line-height:40px;
                font-weight:600;
                color:$BrandColorBlack;
                &:after{
                    display: block;
                    width:0;
                    height:3px;
                    background-color: $BrandColorBlack;
                    opacity: 0;
                    transition: all 0.5s ease;
                }
                
            }
            &:hover{
                a:after{
                    width:100%;
                    opacity: 1;
                }
            }
        }
    }

}

.lnb{display: none;}


