@charset "UTF-8";
header{
    position: relative;
    width: 100%;
    height: 115px;
    z-index:70;
    transition: all 0.2s ease;
    &::before{
        display: block;
        position: absolute;
        width:100%;
        height:100%;
        background-color: #fff;
    }
}
.fixed header{
    position: fixed;
    left: 0;
    transform: translateY(-25px);
    &::before{
        backdrop-filter: blur(5px);
        background-color: rgba(255,255,255,0.5);
    }
}
h1{font-size: 0;line-height: 0;}
.accessibility{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 9999;
    a{
        display: block;
        overflow: hidden;
        position: relative;
        height: 0;
        text-align: center;
        &:focus{
            height:auto; 
            padding-top:5px; 
            padding-bottom:5px; 
            background-color:$Black; 
            color:$White;
        }
    }
}

.logo{
    position: absolute;
    top:55px;
    a{
        width:113px;
        height: 20px;
    }
    
}

.gnb {
    position: relative;
    text-align: right;
    ul{
        display: flex;
        justify-content:flex-end;
        gap: 16px;
        li{
            display: inline-block;
            a{
                font-size:12px;
                line-height: 20px;
                color:#999;
                letter-spacing: -0.025em;
                &:hover{
                    color: $BrandColorYellow;
                }
            }
        }
    }
    
    
}



.lnb{
    position: relative;
    
    .menu{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 90px;
        transition: height 0.2s ease-in-out;
        &::before{
            display: block;
            position: absolute;
            top:90px;
            left: calc(50% - 1000px);
            width:2000px;
            height:0;
            background-color:rgba(78,80,89,0.87);
        }
    }
    .depth1{
        width:1280px;
        margin:0 auto;
        padding-left:120px;
        text-align: center;
        z-index:30;
        .depth1_item{
            display: inline-block;
            float:none !important;
            padding:30px 90px 30px 0;
            vertical-align: top;
            .depth1_text{
                font-size:20px;
                line-height: 30px;
                color: $BasicColor;
                &:hover{
                    color: $BrandColorYellow;
                }
            }
            .depth2{
                position: absolute;
                top:90px;
                
                text-align:left;
                .depth2_list{
                    padding:24px 0 30px;
                    .depth2_item{
                        display: block;
                        float:none;
                        margin-top:8px;
                        &:first-child{
                            margin-top:0;
                        }
                        a{
                            font-size:15px;
                            line-height:22px;
                            color: $White;
                            letter-spacing:-0.025em;
                            &:hover{
                                color:$BrandColorYellow;
                            }
                        }
                    }
                }
                
            }
            
        }
    }
    .lnb_link{
        display: none;
        position: relative;
        padding: 0 14px;
        ul{
            display:flex;
            flex-direction: column;
            margin-top:23px;
            li{
                margin-bottom:16px;
                
                border:1px solid #ebebeb;
                border-radius: 16px;
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
                a{  
                    display: block;
                    position: relative;
                    padding:16px 32px;
                    font-size:15px;
                    line-height:20px;
                    filter:grayscale(1);
                    &:after{
                        display: block;
                        position: absolute;
                        top:calc(50% - 5px);
                        right:40px;
                        @include sprite_img(7px, 9px, '../images/main_sprite.png', -4px -22px);
                        
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        
    }
    }
    
.lnb_open{
    .lnb{
        .menu{
            &::before{
                height:calc(100% - 90px);
            }
        }
        
        .depth2{
            opacity: 1;
            visibility: visible;
        }
    }
}
@include onlyPC {
    .menu_show{
        display: none;
    }
    .lnb{
        .lnb_topbox{
            display: none;
        }
        
        .menu_hide,.menu_show{
            display: none;
        }
        
    }
    
    .lnb_curtain{
        display: none;
    }
}

@include desktop1440{

}
@include desktop1280{
    .lnb .depth1{width:1000px;}
    .lnb .depth1 .depth1_item{padding: 30px 56px 30px 0;}
    .lnb .depth1 .depth1_item .depth1_text{font-size:17px;line-height:25px;}
}
@include tablet{
    header{height:62px;}
    .logo{top:18px;left: calc(50% - 49px);}
    .logo a{width:98px;}
    .fixed header{transform:translateY(0);}
    .menu.pulldown .depth1{height: auto;}
    .lnb{right:-100%;width:100%;height:100vh;background-color:$White;transition: all 0.3s ease;z-index:10;}
    .lnb .lnb_topbox{display:block;position:relative;margin-bottom:25px;padding:19px 0 18px;background-color:$BrandColorYellow;text-align: center;}
    .lnb .lnb_topbox a{width:98px;}
    .lnb .menu{overflow-y:auto;position: relative;height: calc(100% - 85px);}
    .lnb .menu::before{display: none;}
    .lnb .menu:before {display:block;position:absolute;left:0;top:-25px;width: 100%;height: 100vh;background: #fff}
    .lnb_open .lnb .menu::before{height: 100vh;}
    .lnb .depth1{width:auto;height: auto;padding:0 14px;}
    
    .lnb .depth1 .depth1_item{display:block;position:relative;margin-bottom:16px;padding:0;text-align: left;}
    .lnb .depth1 .depth1_item .depth1_text{display: flex;align-items: center;padding:10px 5px;font-size:14px;line-height:22px;font-weight:700;text-decoration: none;}
    .lnb .depth1 .depth1_item .depth1_text:before{display: flex;min-width:31px;margin-right:17px;@include sprite_img(31px, 22px, '../images/main_sprite.png', -5px -80px);}
    .lnb .depth1 .depth1_item:nth-child(1) .depth1_text:before{@include sprite_img(31px, 22px, '../images/main_sprite.png', -5px -80px);}
    .lnb .depth1 .depth1_item:nth-child(2) .depth1_text:before{@include sprite_img(19px, 32px, '../images/main_sprite.png', -40px -78px);}
    .lnb .depth1 .depth1_item:nth-child(3) .depth1_text:before{@include sprite_img(25px, 26px, '../images/main_sprite.png', -73px -81px);}
    .lnb .depth1 .depth1_item:nth-child(4) .depth1_text:before{@include sprite_img(26px, 29px, '../images/main_sprite.png', -108px -83px);}
    .lnb .depth1 .depth1_item:nth-child(5) .depth1_text:before{@include sprite_img(25px, 24px, '../images/main_sprite.png', -148px -88px);}
    .lnb .depth1 .depth1_item .depth1_text:after{display: block;position:absolute;right:5px;@include sprite_img(10px, 6px, '../images/main_sprite.png', -37px -43px);transition: all 0.2s ease;}
    .lnb .depth1 .depth1_item.active .depth1_text:after{transform: rotate(180deg);}
    .lnb .depth1 .depth1_item:last-child{margin-bottom:0;}
    .lnb .depth1 .depth1_item .depth2{position: static;height: 0;background-color:#fff7e5;border: 1px solid #fff;border-radius:16px;opacity: 0;transition: all 0.2s ease;}
    .lnb .depth1 .depth1_item.active .depth2{height:auto;margin-top:5px;border: 1px solid #ffedc3;opacity:1;}
    .lnb .depth1 .depth1_item .depth2 .depth2_list{padding:14px 24px;}
    .lnb .depth1 .depth1_item .depth2 .depth2_list .depth2_item{margin-top:15px;}
    .lnb .depth1 .depth1_item .depth2 .depth2_list .depth2_item a{font-size:14px;line-height:22px;color:#333;font-weight:500;}
    .lnb_show .lnb{right:0}
    .lnb .lnb_link{display:block;}
    .lnb .menu_hide{display: block;position: absolute;top:13px;right:9px;width:35px;}
    .lnb .menu_hide .menu_button{display:block; width:100%; height:35px; border:none; margin:0; padding:0;font-size:0;}
    .lnb .menu_hide .menu_button:before{display:block; position:absolute; top:10px; left:10px;@include sprite_img(16px, 16px, '../images/main_sprite.png', -214px -90px); }
    .gnb{display: none;}
}
@include mobile{
    
}
@include mobile640{
    
}