@charset "UTF-8";
header{
    position: relative;
   
}
.fixed header{
    position: fixed;
    left: 0;
    transform: translateY(-25px);
    &::before{
        backdrop-filter: blur(5px);
        background-color: rgba(255,255,255,0.5);
    }
}
h1{font-size: 0;line-height: 0;}
.accessibility{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 9999;
    a{
        display: block;
        overflow: hidden;
        position: relative;
        height: 0;
        text-align: center;
        &:focus{
            height:auto; 
            padding-top:5px; 
            padding-bottom:5px; 
            background-color:$Black; 
            color:$White;
        }
    }
}

.logo{
    position: absolute;
    
}

.gnb {
    position: relative;
    
    
}


