
@mixin ellipsis($line: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    @if ($line == 1) {
      white-space: nowrap;
    } @else {
      display: -webkit-box;
      -webkit-line-clamp: $line;
      -webkit-box-orient: vertical;
    }
  }

 // 단일 배경 이미지
@mixin bg_img($size: null, $url: null) {
    background-image: url($url);
    background-position: center center;
    background-size: $size;
    background-repeat: no-repeat;
}
// sprite 이미지
@mixin sprite_img($width:0, $height:0, $url: null, $position:0 0) {
  width: $width;
  height: $height;
  background-image: url($url);
  background-position: $position;
  background-repeat: no-repeat;
}
 //style로 이미지 배경쓸때
 @mixin style_bg{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 0;
  line-height: 0;
 }

  //h2 폰트사이즈
  @mixin h2FontSize{
    font-size:50px;
    line-height:60px;
    @include desktop1280 {
      font-size:38px;
      line-height:40px;
    }
    @include mobile {
      font-size:18px;
      line-height:28px;
    }
  }




  //섹션 애니메이션
  @mixin sectionAni{
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.7s ease;
    &[data-on=on]{
      opacity: 1;
      transform: translateY(0);
    }
  }
  //섹션 애니메이션 리셋
  @mixin aniReset{
    opacity: 1;
    transform: translate(0);
  }