@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import './_variables.scss', './_mixin.scss';
@import './_header.scss', '_footer.scss';

/* 초기화 */
a:link {
    color: $BrandColorBlack;
    text-decoration: none;
}

a:visited {
    color: $BrandColorBlack;
    text-decoration: none;
}

a:hover {
    color: $BrandColorBlack;
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}

a:active {
    color: $BrandColorBlack;
    text-decoration: none;
}

#wrapper {
    position: relative;
    max-width: 1920px;
    min-width: 1590px;
    overflow: hidden;
    margin: 0 auto;
}

.wrap {
    position: relative;
    width: 1590px;
    margin: 0 auto;
}


body {
    font-family: 'Poppins', 'Pretendard', sans-serif;
    font-size: 16px;
}

@include onlyPC {}

@include desktop1280 {
    #wrapper {
        min-width: 1000px
    }

    .wrap {
        width: 1000px
    }

}

@include tablet {
    #wrapper {
        min-width: 94%
    }

    .wrap {
        width: 94%
    }
}


section{
    h2{
        margin-bottom:20px;
        font-size:16px;
        line-height:30px;
        letter-spacing:4px;
    }
    h3{
        margin-bottom:60px;
        font-size:70px;
        line-height:80px;
        letter-spacing:-3px;
    }
    .more{
        position: relative;
        padding: 0 90px 0 30px;
        background-color:$BrandColorBlack;
        color: $White;   
        border: 1px solid $BrandColorBlack;
        font-size:20px;
        line-height:60px;
        font-weight:700;
        transition: all 0.2s ease;
        &::before{
            display: block;
            position: absolute;
            top:calc(50% - 1px);
            right:30px;
            width:40px;
            height:3px;
            background-color: $White;
        }
        &:hover{
            background-color:$White;
            color:$BrandColorBlack;
            &::before{
                background-color: $BrandColorBlack;
            }
        }
    }
    
}

.visual{
    padding-top:120px;
    .title_box{
        position: absolute;
        top: 138px;
        left:20%;
        right:10%;
        z-index: 5;
        .title{
            margin-bottom:60px;
            font-size:80px;
            line-height:100px;
            font-weight: 200;
            letter-spacing:-3px;
            span{
                display: block;
                font-weight: 200;
            }
            b{
                font-weight: 800;
            }
        }
        .text{
            font-size:18px;
            line-height:30px;
            span{
                margin-bottom:20px;
                font-weight:700;
            }
        }
    }

    .slide_list{
        padding-top:370px;
        .slide_item{
            width:100%;
            height:600px;
            a{
                display: block;
                height:100%;
                .img_box{
                    width:100%;
                    height: 100%;
                    @include style_bg;
                }
            }
        }
    }
    .slick-dots{
        position: absolute;
        top:154px;
        left:0;
        li{
            display: flex;
            margin-bottom:9px;
            button{
                position: relative;
                padding-left:30px;
                font-size:18px;
                line-height:30px;
                color:$BrandColorBlack;
                font-weight:300;
                letter-spacing: 1px;
                &::before{
                    display: block;
                    position: absolute;
                    left: 0;
                    top:calc(50% - 2px);
                    width:10px;
                    height:3px;
                    background-color:#999;
                    transition: all 0.2s ease;
                }
            }

            &.slick-active{
                button{
                    font-weight:600;
                    &::before{
                        width:20px;
                        background-color:$BrandColorBlack;
                    }
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        
    }
    .slide_control{
        position:absolute;
        top:350px;
        right: 10%;
        font-size:0;
        line-height:0;
        z-index: 5;
        button{
            position: relative;
            width:80px;
            height:80px;
            background-color:$BrandColorBlack;
            &::before{
                display: block;
                position: absolute;
                top:calc(50% - 12px);
                left: calc(50% - 20px);
                width:24px;
                height:24px;
                border-top:2px solid #fff;
                border-right:2px solid #fff;
                border-radius:2px;
                transform: rotate(45deg);
                transition: all ease 0.2s;
            }
            &:hover::before{
                opacity: 0.5;
            }
        }
        .prev{
            &::before{
                transform: rotate(-135deg);
                left: calc(50% - 5px);
            }
        }
    }
}

.about{
    margin-top:200px;
    .wrap{
        display: flex;
        justify-content: space-between;
        padding: 0 156px;
    }
    .title_box{
        p{
            font-size:18px;
            line-height:30px;
        }
    }
    .img_box{
        width: 500px;
        margin-right:70px;
    }
    .more{
        margin-top:95px;
    }
}

.title_ani{
    margin-top:180px;
    p{
        font-size:140px;
        line-height:160px;
        font-weight:400;
        white-space: nowrap;
        transition: all 0.2s ease;
    }
    .t1{
        color: $BrandColorBlack;
        opacity:0.1;
        transform: translateX(500px);
    }
    .t2{
        text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        color:$White;
        opacity: 0.3;
        transform: translateX(-500px);
    }
}
.brand{
    margin-top:300px;
    .wrap{
        padding:0 156px;
    }
    .title_box{
        display: flex;
        h2{
            display: block;
        }
        
    }
}
.util{
    .sns{
        position: fixed;
        left: 3%;
        bottom:50px;
        ul{
            display:flex;
            flex-direction:column;
            li{
                margin-bottom:10px;
                a{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    border-radius:50%;
                    width:30px;
                    height:30px;
                    font-size:0;
                    line-height:0;
                    transition: all 0.2s ease;
                    &::before{
                        display: block;
                        @include sprite_img(30px, 30px, '../images/icon_sns.svg', left top);
                        transition: all 0.2s ease;
                    }
                }
                &:hover{
                    a{
                        background-color: #000;
                        &::before{
                            background-position:right top;
                        }
                    }
                }
                &.facebook{
                    a:before{
                        background-position:left top;
                    }
                    &:hover{
                        a:before{
                            background-position:right top;
                        }
                    }
                }
                &.insta{
                    a:before{
                        background-position: left 50%;
                    }
                    &:hover{
                        a:before{
                            background-position: right 50%;
                        }
                    }
                }
                &.youtube{
                    a:before{
                        background-position:left bottom;
                    }
                    &:hover{
                        a:before{
                            background-position:right bottom;
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .bottom_btn{
        position: fixed;
        right:3%;
        bottom:50px;
    }
}


.contact{
    background-color: #f5f5f5;
}
