@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import './_variables.scss', './_mixin.scss';
@import './_header.scss', '_footer.scss';

/* 초기화 */
a:link {
    color: #555;
    text-decoration: none;
}

a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #555;
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}

a:active {
    color: #555;
    text-decoration: none;
}

#wrapper {
    position: relative;
    max-width: 1920px;
    min-width: 1232px;
    overflow: hidden;
    margin: 0 auto;
}

.wrap {
    position: relative;
    width: 1232px;
    margin: 0 auto;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

@include onlyPC {}

@include desktop1280 {
    #wrapper {
        min-width: 1000px
    }

    .wrap {
        width: 1000px
    }

}

@include tablet {
    #wrapper {
        min-width: 94%
    }

    .wrap {
        width: 94%
    }
}


