@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import './_variables.scss', './_mixin.scss';

/* 초기화 */
a:link{color:#555; text-decoration:none;}
a:visited{color:#555; text-decoration:none;}
a:hover{color:#555; text-decoration:none;}
a:focus{text-decoration:underline;}
a:active{color:#555; text-decoration:none;}
#wrapper{position:relative; min-width:1280px; overflow:hidden;}
.wrap{position:relative;width:1280px;margin:0 auto;}


body{font-family:'Noto Sans KR', sans-serif;font-size: 16px;}
@include onlyPC{
}
@include desktop{
    body{background-color: #1900f9;}
    #wrapper{min-width:1000px}
    .wrap{width:1000px}
    
}
@include tablet{
    body{background-color: #00f999;}
    #wrapper{min-width:94%}
    .wrap{width:94%}
}
@include mobile{
    body{background-color: #f9bb00;}
}

h1{font-size: 0;line-height: 0;}
.accessibility{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 9999;
    a{
        display: block;
        overflow: hidden;
        position: relative;
        height: 0;
        text-align: center;
        &:focus{
            height:auto; 
            padding-top:5px; 
            padding-bottom:5px; 
            background-color:#000; 
            color:#fff;}
    }
}

.logo{
    a{
        width:113px;
        height: 20px;
    }
    
}

.gnb {
    position: absolute;
    top:0;
    right: 0;
    li{
        display: inline-block;
        a{
            font-size:12px;
            line-height: 20px;
            color:#999;
            letter-spacing: -0.025em;
            &:hover{
                color: $BrandColorYellow;
            }
        }
        & + li{
            margin-left: 20px;
        }
    }
    
}

.lnb{
    .depth1_item{
        display: inline-block;
        vertical-align: top;
        .depth1_text{
            font-size:20px;
            line-height: 30px;
            color: $BasicColor;
            &:hover{
                color: $BrandColorYellow;
            }
        }
    }
}

/* slick */
.slick-slider{position:relative;}
.slick-list{overflow:hidden; position:relative;}
.slick-track{position:relative; top:0; left:0; margin-right:auto; margin-left:auto;}
.slick-track:before, .slick-track:after{display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;}

.visual{
    position: relative;
    width: 1440px;
    
    margin: 0 auto;
    .slide_list{
        overflow: hidden;
        border-radius: 0 0 45px 45px;
        .slide_item{
            width: 100%;
            height: 495px;
            a{
                display: block;
                height: 100%;
                span{
                    display: block;
                    width:100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    font-size: 0;
                    line-height: 0;
                }
                span.slide_m{display: none;}
            }
        }
    }
    .slide_control{
        position: absolute;
        left:105px;
        bottom: -45px;
        width: 414px;
        background-color: #fff;
        border-radius:15px;
    }
    
 
}

footer{
    position: relative;
    background-color: #f4f4f4;
    font-size: 12px;
    line-height: 20px;
    .footer_link{
        font-size: 0;
        line-height:0;
        li{
            display: inline-block;
            position: relative;
            a{
                padding: 0 10px;
                font-size: 12px;
                line-height:20px;
                color: #333;
                font-weight: 300;
            }
            &:hover a{
                color: $BrandColorYellow;
            }
            &:after{
                content: '';
                display: block;
                position:absolute;
                right:0;
                top:7px;
                width: 1px;
                height:8px;
                background-color:#999;
            }
            &:first-child a{padding-left:0;}
        }
        li.privacy{
            a{
                font-weight: 500;
            }
            
        }
    }
    .family_site{
        position: absolute;
        right: 0;
        top:0;
        .family_btn{
            &:after{
                display: block;
                content: '';
                width: 20px;
                height: 20px;
                @include sprite_img('../images/main_sprite.png' , -214px -56px)
            }
        }
        .layer{
            display: none;
            overflow-y: scroll;
            position: absolute;
            bottom: 100%;
            left: 0;
            width: 170px;
            height: 160px;
            background-color: #fff;
            li a{
                padding:8px 12px;
                font-size:15px;
                line-height: 30px;
            }
        }
    }
    .footer_con{
        .title{
            display: block;
        }
        .text{display: block;margin-top:50px;}
    }
}
