@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import './_variables.scss', './_mixin.scss';
@import './_header.scss', '_footer.scss';

/* 초기화 */
a:link {
    color: #555;
    text-decoration: none;
}

a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #555;
    text-decoration: none;
}

a:focus {
    text-decoration: underline;
}

a:active {
    color: #555;
    text-decoration: none;
}

#wrapper {
    position: relative;
    min-width: 1280px;
    overflow: hidden;
}

.wrap {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

@include onlyPC {}

@include desktop {
    #wrapper {
        min-width: 1000px
    }

    .wrap {
        width: 1000px
    }

}

@include tablet {
    #wrapper {
        min-width: 94%
    }

    .wrap {
        width: 94%
    }
}


.visual {
    position: relative;
    width: 1440px;

    margin: 0 auto;

    .slide_list {
        overflow: hidden;
        border-radius: 0 0 45px 45px;
        box-shadow: 80px 80px 128px rgba(0, 0, 0, 0.1);

        .slide_item {
            width: 100%;
            height: 495px;

            a {
                display: block;
                height: 100%;

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    @include style_bg;
                }

                span.slide_m {
                    display: none;
                }
            }
        }
    }

    .slide_control {
        position: absolute;
        left: 105px;
        bottom: -35px;
        width: 414px;
        padding: 23px 33px 24px;
        background-color: #fff;
        border-radius: 15px;

        .control_box {
            display: inline-block;
            font-size:0;
            line-height:0;
            vertical-align: middle;
            button {
                width: 24px;
                height: 24px;
                border:0;
                font-size: 0;
                line-height: 0;

                &::before {
                    display: block;
                    margin: 0 auto;
                    @include sprite_img(12px, 12px, '../images/main_sprite.png', -3px -2px)
                }

            }

            .auto {
                margin-right:25px;
                &::before {
                    
                    @include sprite_img(7px, 11px, '../images/main_sprite.png', -43px -2px);
                    
                }
            }

            .slick-play {
                &::before {
                    @include sprite_img(8px, 12px, '../images/main_sprite.png', -43px -20px)
                }
            }

            .prev {
                margin-right:25px;
                &::before {
                    transform: rotate(180deg);
                }
            }
        }

        .count_box {
            display: inline-block;
            margin-left:15px;
            vertical-align:middle;
            > span{
                width:16px;
                text-align: center;
            }
            .progress {
                display: inline-block;
                position: relative;
                width: 156px;
                margin: 0 5px;
                box-sizing: border-box;
                vertical-align: middle;

                .total_bar {
                    display: block;
                    position: relative;
                    height: 2px;
                    background-color: #ebebeb;

                    .state_bar {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 2px;
                        background-color: $BrandColorYellow;
                        transition: width 500ms;
                    }

                    .thumbnail_box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;

                        .slick-dots {
                            >li {
                                float: left;

                                button {
                                    display: block;
                                    width: 100%;
                                    height: 20px;
                                    color: transparent;

                                    span {
                                        font-size: 0;
                                        line-height: 0;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .current,
            .total {
                font-size: 15px;
                line-height: 24px;
                color: $gray;
            }

            .current {
                color: $BrandColorYellow;
            }
        }
    }
}


.event {
    margin-top: 127px;

    h2 {
        font-size: 45px;
        line-height: 50px;
        color: $BasicColor;
    }

    .tab_menu {
        float: left;
        width: 285px;
        margin-top: 78px;

        .tab_item {
            transition: all 0.2s ease-in-out;

            & +.tab_item {
                margin-top: 16px;
            }

            .tab_btn {
                position: relative;
                width: 100%;
                padding: 15px 40px 15px 50px;
                border-radius: 5px 5px 5px 20px;
                font-size: 17px;
                line-height: 20px;
                color: $gray;
                text-align: left;
                transition: all 0.2s ease-in-out;
                &:hover {
                    width: calc(100% - 10px);
                    background-color: $BrandColorYellow;
                    color: $White;
                    box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31);
                    opacity: 0.9;
                }

                &::before {
                    display: block;
                    position: absolute;
                    top: 17px;
                    left: 16px;
                    @include sprite_img(18px, 18px, '../images/main_sprite.png', -121px -2px)
                }

                &::after {
                    display: block;
                    position: absolute;
                    top: calc(50% - 3px);
                    left:250px;
                    @include sprite_img(7px, 9px, '../images/main_sprite.png', -4px -22px)
                }
            }

            &:nth-child(2) {
                .tab_btn {
                    &::before {
                        background-position: -165px -2px;
                    }
                }
            }

            &:nth-child(3) {
                .tab_btn {
                    &::before {
                        background-position: -209px -2px;
                    }
                }
            }

            &:nth-child(2).active {
                .tab_btn {
                    &::before {
                        background-position: -143px -2px;
                    }
                }
            }

            &:nth-child(3).active {
                .tab_btn {
                    &::before {
                        background-position: -187px -2px;
                    }
                }
            }
        }

        .tab_item.active {
            .tab_btn {
                background-color: $BrandColorYellow;
                color: $White;
                box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31);

                &::before {
                    background-position: -99px -2px;
                }

                &::after {
                    background-position: -18px -22px;
                }
            }
        }
    }

    .event_tab {
        .tab_content {
            display: none;
            float: right;
            width: 915px;
            margin-top: -50px;
        }

        .tab_content.active {
            display: block;
        }
    }

    .event_slide {
        .slide_item {
            position: relative;
            text-align: center;

            a {
                display: block;

                .category {
                    position: absolute;
                    top: 16px;
                    right: 18px;
                    padding: 2px 7px;
                    border-radius: 8px 8px 8px 0px;
                    background-color: $BrandColorYellow;
                    font-size: 11px;
                    line-height: 20px;
                    ;
                    font-weight: 300;
                    color: $White;
                }

                .img_box {
                    overflow: hidden;
                    position: relative;
                    padding: 74px 0 30px;
                    border: 1px solid #ebebeb;
                    border-radius: 24px;
                    box-sizing: border-box;
                    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02);
                    transition: all 0.2s ease-in-out;
                    img {
                        transform: scale(1);
                        transition: all 0.2s ease-in-out;
                    }
                }

                .text_box {
                    .title {
                        height: 44px;
                        margin-top: 17px;
                        font-size: 15px;
                        line-height: 22px;
                        font-weight: 500;
                        color: $BasicColor;

                    }

                    .price {
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 400;
                        letter-spacing: -0.025em;
                        color: #f95a00;
                    }
                }

                &:hover {
                    .img_box {
                        border: 4px solid $BrandColorYellow;

                        &::after {
                            display: none;
                        }

                        img {
                            transform: scale(1.1);
                        }
                    }

                }
            }

            margin-right:18px;

        }

        .dots {
            margin-top: 60px;
            text-align: center;

            li {
                display: inline-block;
                margin: 0 4px;
                font-size: 0;
                line-height: 0;

                button {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #f3f3f3;
                }
            }

            .slick-active {
                button {
                    background-color: $BrandColorYellow;
                }
            }
        }
    }

    .more {
        top: 66px;
        @include more;
    }
}

@include mobile {}

.only_emart {
    margin-top: 155px;

    .title_box {
        h2 {
            font-size: 48px;
            line-height: 50px;
            color: $Black;
        }

        span {
            margin-top: 14px;
            font-size: 16px;
            line-height: 24px;
            color: $BrandColorYellow;
        }
    }

    .only_slide {
        margin-top: 78px;
        font-size: 0;
        line-height: 0;

        .slide_item {
            position: relative;
            display: inline-block;
            width: calc((100% - 49px)/4);
            margin-right: 16px;
            vertical-align: top;
            text-align: center;
            transition: all 0.2s ease-in-out;

            a {
                position: relative;
                overflow: hidden;
                display: block;

                border-radius: 24px;
                box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);

                .img_box {
                    overflow: hidden;
                    height: 294px;
                    border-radius: 24px;



                    span {
                        width: 100%;
                        height: 100%;
                        @include style_bg;
                        transition: all 0.2s ease-in-out;
                        transform: scale(1);
                    }
                }

                .text_box {
                    padding: 0 24px 24px;

                    .title {
                        margin-top: 13px;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 500;
                        color: $BasicColor;
                    }

                    p {
                        overflow: hidden;
                        height: 48px;
                        margin-top: 15px;
                        font-size: 17px;
                        line-height: 24px;
                        color: $gray;
                    }
                }

                &:hover {
                    text-decoration: none;
                }

                &::after {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    border: 1px solid #ebebeb;
                    border-radius: 24px;
                }

                &:hover:after {
                    width: calc(100% - 8px);
                    height: calc(100% - 8px);
                    border: 4px solid $BrandColorYellow;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                transform: translateY(-10px);

                a {
                    .img_box {
                        border-radius: 20px;

                        span {
                            transform: scale(1.15);
                        }

                    }
                }

            }
        }
    }



}

@keyframes gray {
    0% {
        transform: translateY(-6%);
    }
    20% {
        transform: translateY(0);
        filter:grayscale(0)
    }
    50% {
        transform: translateY(-5%);
        filter:grayscale(1)
    }
    100% {
        transform: translateY(0);
        filter:grayscale(0)
    }

}
@keyframes coin1 {
    0% {
        opacity:0;
        transform: translateY(-50%);
        filter:brightness(1)
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity:0;
        transform: translateY(50%);
  
    }
    100% {
        opacity: 0;
    }

}
@keyframes coin2 {
    0% {
        opacity:0;
        transform: translateY(-50%);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    60% {
        opacity:0;
  
    }
    70% {
        transform: translateY(50%);
  
    }
    100% {
        opacity: 0;
    }

}
@keyframes jump {
    0% {
        transform: translateY(-5%);
        filter:brightness(1.02)
    }
    100% {
        transform: translateY(0);
    }

}

.buisness {
    position: relative;
    margin-top: 290px;
    padding: 157px 0 203px;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 216px;
        width: 1800px;
        height: 100%;
        border-radius: 64px 0px 0px 192px;
        background: linear-gradient(#fece6a, #fee6b4);
    }

    .title_box {
        h2 {
            font-size: 48px;
            line-height: 50px;
            color: $Black;
        }

        span {
            margin-top: 14px;
            font-size: 16px;
            line-height: 24px;
            color: $BasicColor;
        }
    }

    .buisness_list {
        margin-top: 40px;
        font-size: 0;
        line-height: 0;

        li {
            overflow: hidden;
            display: inline-block;
            position: relative;
            width: calc((100% - 32px)/3);
            height: 418px;
            margin-right: 16px;
            background-color: $White;
            border-radius: 36px;
            transform: translateY(0);
            transition: all 0.2s linear;
            &::before {
                display: block;
                position: absolute;
                right: 26px;
                top: 26px;
                @include sprite_img(36px, 36px, '../images/main_sprite.png', -234px -2px)
            }
            a {
                display: block;
                position: relative;
                height: 100%;
                padding: 24px;
                .title {
                    margin-bottom: 30px;
                    font-size: 28px;
                    line-height: 30px;
                    color: $Black;
                    font-weight: 500;
                }

                p {
                    font-size: 17px;
                    line-height: 25px;
                    color: $Black;
                    font-weight: 400;
                }
                .icon{
                    display: block;
                    position:absolute;
                    left: calc(50% - 175px);
                    bottom:24px;
                    width:350px;
                    &::before{
                        display: block;
                        
                        width:100%;
                        height:239px;
                        @include bg_img(contain , '../images/found1.png')
                    }
                }
            }
            &:hover {
                transform: translateY(-15px);
                .icon{
                    &::before{
                        animation: gray 2s linear infinite alternate;
                    }
                }
            }
            &:nth-child(2){
                .icon{
                    &::before{
                        position: absolute;
                        top:0;
                        left: 0;
                        @include bg_img(contain , '../images/found3.png');
                    }
                    &::after{
                        display: block;
                        position: absolute;
                        top:0;
                        left: 0;
                        width:100%;
                        height:239px;
                        @include bg_img(contain , '../images/found4.png');
                    }
                }
                &:hover{
                    .icon{
                        &::before{
                            animation:coin2 2s cubic-bezier(1,0.5,0.5,1)  infinite ;
                        }
                        &::after{
                            animation:coin1 2s cubic-bezier(1,0.8,0.5,1)  infinite ;
                        }
                    }
                    img{
                     transform: translateY(-6%);   
                    }
                }
            }
            &:last-child {
                margin-right: 0;
                .icon{
                    &::before{
                        @include bg_img(contain , '../images/found5.png')
                    }
                }
                &:hover{
                    .icon{
                        &::before{
                            animation: jump 0.5s linear infinite alternate;
                        }
                    }
                }
            }
        }
    }
}

@keyframes pin {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5%);
    }

}

.store {
    position: relative;
    margin-top: 176px;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        right: calc(50% - 640px);
        ;
        width: 415px;
        height: 332px;
        @include bg_img(contain, '../images/mapPaper.png')
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        right: calc(50% - 640px);
        width: 415px;
        height: 334px;
        @include bg_img(contain, '../images/mapPin.png');
        animation: pin 0.6s ease infinite alternate;
    }

    h2 {
        font-size: 48px;
        line-height: 50px;
        color: $Black;
    }

    .search {
        position: relative;
        width: 695px;
        margin-top: 70px;

        .search_input {
            position: relative;

            .search_bar {
                width: 100%;
                ;
                padding: 20px 25px;
                outline: 2px solid $BrandColorYellow;
                border-radius: 8px 8px 8px 32px;
                border: 0;
                font-size: 24px;
                line-height: 30px;
                color: $Black;

                &:focus {
                    outline: 4px solid $BrandColorYellow;
                }

                &::placeholder {
                    color: #d1d1d1;
                }

                &::-ms-clear,
                &::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    display: none;
                }
            }

        }

        .search_btn {
            position: absolute;
            right: 35px;
            top: calc(50% - 14px);
            font-size: 0;
            line-height: 0;
            @include sprite_img(30px, 28px, '../images/main_sprite.png', -3px -39px)
        }
    }

    .tag_box {
        width: 695px;
        margin-top: 20px;
        font-size: 0;
        line-height: 0;

        li {
            display: inline-block;
            width: calc((100% - 65px)/5);
            margin-right: 16px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
                width: 100%;
                padding: 11px 0;
                font-size: 17px;
                line-height: 20px;
                font-weight: 500;
                color: $Black;
                background-color: #ebebeb;
                border-radius: 16px 0px 16px 16px;
            }

            &:hover {
                a {
                    background-color: $BrandColorYellow;
                }
            }
        }
    }
}

.app {
    position: relative;
    min-height: 950px;
    margin-top: 165px;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1700px;
        height: 100%;
        border-radius: 0 256px 64px 0;
        background: #f3f3f3;
    }

    .img_box {
        position: absolute;
        left: 0;
        top: 120px;
        width: 620px;
    }

    .text_box {
        padding-top:260px;
        padding-left: 50%;
        text-align: center;
        .title_box{
            span {
                font-size: 20px;
                line-height: 24px;
                color: $BrandColorYellow;
            }
    
            h2 {
                margin-top: 11px;
                font-size: 48px;
                line-height: 74px;
                color: $Black;
            }
            
        }
        .more{
            @include more;
            position: relative;
            margin-top:22px;
        }
        .down_box{
            margin-top: 96px;
            a{
                @include yellowBtn;
                &::before{
                    display: inline-block;
                    margin-right:8px;
                    @include sprite_img(16px, 16px, '../images/main_sprite.png', -248px -49px)
                }
            }
            p{margin-top:16px;}
        }
        
    }
}

.story{
    margin-top:125px;
    .title_box{
        h2{
            font-size:48px;
            line-height:52px;
            font-weight:700;
            em{
                display: block;
                font-weight:300;
            }
        }
        span{
            margin-top:12px;
            color:$BrandColorYellow;
        }
    }
    .sns_list{
        font-size:0;
        line-height:0;
        li{
            display: inline-block;
            vertical-align: top;
            a{
                display: block;
                width:36px;
                height:36px;
                &::before{
                    display: block;
                    margin:10px auto 0;
                    @include sprite_img(23px, 16px, '../images/main_sprite.png', -98px -28px)
                }
            }
            &.youtube{
                a{
                    &::before{
                        @include sprite_img(23px, 16px, '../images/main_sprite.png', -98px -28px)
                
                    }
                }
            }
            &.insta{
                a{
                    &::before{
                        margin-top: 7px;
                        @include sprite_img(22px, 22px, '../images/main_sprite.png', -127px -28px)
                
                    }
                }
            }
            &.facebook{
                a{
                    &::before{
                        @include sprite_img(18px, 18px, '../images/main_sprite.png', -156px -28px)
                
                    }
                }
            }
            &.tictok{
                a{
                    &::before{
                        margin-top:7px;
                        @include sprite_img(18px, 20px, '../images/main_sprite.png', -183px -28px)
                
                    }
                }
            }
        }
        

    }
    
}

.media {
    margin: 120px 0 160px;

    h2 {
        margin-bottom: 22px;
        font-size: 20px;
        line-height: 24px;
        color: $Black;
        font-weight: 500
    }

    .media_item {
        position: relative;
        width: calc((100% - 16px)/2);
        padding: 32px 32px 40px 32px;
        background-color: $White;
        border-radius: 32px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

        li {
            font-size: 0;
            line-height: 0;

            a {
                display: block;

                .text {
                    display: inline-block;
                    width: calc(100% - 90px);
                    margin-right: 10px;
                    font-size: 15px;
                    line-height: 24px;
                    color: $gray;
                    font-weight: 400;
                    letter-spacing: -0.025em;
                    vertical-align: top;
                    @include ellipsis(1)
                }

                .time {
                    display: inline-block;
                    width: 80px;
                    text-align: right;
                    font-size: 15px;
                    line-height: 20px;
                    color: $gray;
                    font-weight: 400;
                    letter-spacing: -0.025em;
                    vertical-align: top;
                }

                &:hover {
                    .text {
                        color: $BrandColorYellow;
                    }

                    .time {
                        color: $BrandColorYellow;
                    }
                }
            }

            &+li {
                margin-top: 15px;
            }
        }

        .more {
            top: 32px;
            right: 32px;
            @include more;
        }
    }

    .notice {
        float: left;

    }

    .news {
        float: right;
    }
}