@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import './_variables.scss', './_mixin.scss';
@import './_header.scss', '_footer.scss';

/* 초기화 */
a:link{color:#555; text-decoration:none;}
a:visited{color:#555; text-decoration:none;}
a:hover{color:#555; text-decoration:none;}
a:focus{text-decoration:underline;}
a:active{color:#555; text-decoration:none;}
#wrapper{position:relative; min-width:1280px; overflow:hidden;}
.wrap{position:relative;width:1280px;margin:0 auto;}


body{font-family:'Noto Sans KR', sans-serif;font-size: 16px;}
@include onlyPC{
}
@include desktop{
    #wrapper{min-width:1000px}
    .wrap{width:1000px}
    
}
@include tablet{
    #wrapper{min-width:94%}
    .wrap{width:94%}
}
@include mobile{
}


/* slick */
.slick-slider{position:relative;}
.slick-list{overflow:hidden; position:relative;}
.slick-track{position:relative; top:0; left:0; margin-right:auto; margin-left:auto;}
.slick-track:before, .slick-track:after{display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;}

.visual{
    position: relative;
    width: 1440px;
    
    margin: 0 auto;
    .slide_list{
        overflow: hidden;
        border-radius: 0 0 45px 45px;
        box-shadow: 80px 80px 128px rgba(0,0,0,0.1);
        .slide_item{
            width: 100%;
            height: 495px;
            a{
                display: block;
                height: 100%;
                span{
                    display: block;
                    width:100%;
                    height: 100%;
                    @include style_bg;
                }
                span.slide_m{display: none;}
            }
        }
    }
    .slide_control{
        position: absolute;
        left:105px;
        bottom: -35px;
        width: 414px;
        padding: 23px 33px 24px;
        background-color: #fff;
        border-radius:15px;
        .control_box{
            display: inline-block;
            button{
                width:24px;
                height: 24px;
                font-size:0;
                line-height:0;
                
                &::before{
                    display: block;
                    @include sprite_img(12px, 12px, '../images/main_sprite.png' , -3px -2px)
                    
                }
                
            }
            .auto{
                &::before{
                    @include sprite_img(7px, 11px, '../images/main_sprite.png' , -43px -2px)
                }
            }
            .slick-play{
                &::before{
                    @include sprite_img(8px, 12px, '../images/main_sprite.png' , -43px -20px)
                }
            }
            .prev{
                &::before{
                    transform:rotate(180deg);
                }
            }
        }
        .count_box{
            display: inline-block;
            .progress{
                display: inline-block;
                position:relative;
                width:156px;
                box-sizing:border-box;
                vertical-align: middle;
                .total_bar{
                    display:block;
                    position:relative;
                    height:2px;
                    background-color:#ebebeb ;
                    .state_bar{display:block;position:absolute;top:0;left:0;height:2px;background-color:$BrandColorYellow;transition:width 500ms;}
                    .thumbnail_box{
                        position:absolute;
                        top:0;
                        left:0;
                        width:100%;
                        .slick-dots{
                            > li{
                                float:left;
                                button{
                                    display:block;width:100%;height:20px;color:transparent;
                                    span{
                                        font-size:0;line-height:0;
                                    }
                                }
                            }
                    
                      }   
                    }
                }
            }
            .current, .total{
                font-size:15px;
                line-height:24px;
                color: #999;
            }
            .current{
                color:$BrandColorYellow;
            }
        }
    }
}


.event{
    margin-top: 127px;
    h2{
        font-size:45px;
        line-height:50px;
        color: $BasicColor;
    }
    .tab_menu{
        float: left;
        width:285px;
        margin-top:78px;
        .tab_item{
            transition: all 0.2s ease-in-out;
            & + .tab_item{
                margin-top: 16px;
            }
            .tab_btn{
                position: relative;
                width: 100%;
                padding: 15px 40px 15px 50px;
                border-radius:5px 5px 5px 20px;
                font-size:17px;
                line-height:20px;
                color: #999;
                text-align:left;
                
                &:hover{
                    background-color:$BrandColorYellow;
                    color:$White;
                    box-shadow: 0 8px 24px rgba(249,187,0,0.31);
                }
                &::before{
                    display: block;
                    position: absolute;
                    top:17px;
                    left:16px;
                    @include sprite_img(18px, 18px, '../images/main_sprite.png' , -121px -2px)
                }
                &::after{
                    display: block;
                    position: absolute;
                    top:calc(50% - 3px);
                    right:30px;
                    @include sprite_img(7px, 9px, '../images/main_sprite.png' , -4px -22px)
                }
            }
            &:nth-child(2){
                .tab_btn{
                    &::before{
                        background-position:-165px -2px;
                    }
                }
            }
            &:nth-child(3){
                .tab_btn{
                    &::before{
                        background-position:-209px -2px;
                    }
                }
            }
            &:nth-child(2).active{
                .tab_btn{
                    &::before{
                        background-position:-143px -2px;
                    }
                }
            }
            &:nth-child(3).active{
                .tab_btn{
                    &::before{
                        background-position:-187px -2px;
                    }
                }
            }
        }
        .tab_item.active{
            .tab_btn{
                background-color:$BrandColorYellow;
                color:$White;
                box-shadow: 0 8px 24px rgba(249,187,0,0.31);
                &::before{
                    background-position: -99px -2px;
                }
                &::after{
                    background-position: -18px -22px;
                }
            }
        }
    }
    .event_tab{
        .tab_content{
            display: none;
            float:right;
            width:909px;
            margin-top:-50px;
        }
        .tab_content.active{display: block;}
    }
    .event_slide{
        .slide_item{
            position:relative;
            text-align:center;
            a{
                display: block;
                .category{
                    position: absolute;
                    top:16px;
                    right:18px;
                    padding:2px 7px;
                    border-radius: 8px 8px 8px 0px;
                    background-color:$BrandColorYellow;
                    font-size:11px;
                    line-height:20px;;
                    font-weight:300;
                    color:$White;
                }
                .img_box{
                    position: relative;
                    padding: 74px 0 30px;
                    border:4px solid transparent;
                    border-radius:24px;
                    box-sizing: border-box;
                    box-shadow: 0px 8px 8px rgba(0,0,0,0.02);
                    transition: all 0.1s ease-in-out;
                    &:after{
                        display: block;
                        position: absolute;
                        top:0;
                        left: 0;
                        width: calc(100% + 4px);
                        height: calc(100% + 4px);
                        border:1px solid #ebebeb;
                        border-radius:24px;
                    }
                    img{
                        transform: scale(1);
                        transition: all 0.2s ease-in-out;
                    }
                }
                .text_box{
                    .title{
                        height:44px;
                        margin-top:17px;
                        font-size:15px;
                        line-height:22px;
                        font-weight:500;
                        color: $BasicColor;
                
                    }
                    .price{
                        font-size:15px;
                        line-height:20px;
                        font-weight:400;
                        letter-spacing:-0.025em;
                        color: #f95a00;
                    }
                }
                &:hover{
                    .img_box{
                        border:4px solid $BrandColorYellow;
                        &::after{
                            display: none;
                        }
                        img{transform: scale(1.1);}
                    }
                    
                }
            }
            margin-right:18px;
            
        }
        .dots{
            margin-top:60px;
            text-align: center;
            li{
                display: inline-block;
                margin: 0 4px;
                font-size: 0;
                line-height: 0;
                button{
                    width:12px;
                    height: 12px;
                    border-radius:50%;
                    background-color:#f3f3f3 ;
                }
            }
            .slick-active{
                button{
                    background-color:$BrandColorYellow;
                }
            }
        }
    }
    .more{
        top:66px;
        position: absolute;
        padding-right:33px;
        font-size:15px;
        line-height:24px;
        color:$BasicColor;
        font-weight:500;
        &:hover{
            color: $BrandColorYellow;
        }
        &:after{
            display:block;
            position: absolute;
            top:0;
            right:0;
            @include sprite_img(24px, 24px, '../images/main_sprite.png' , -69px -2px)

        }
    }
}
@include mobile{

}

