@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 1001px 이상일때*/
/*반응형, 브라우저 크기가 1400px 이하일때*/
/*반응형, 브라우저 크기가 1280px 이하일때*/
/*반응형, 브라우저 크기가 1000px 이하일때*/
/*반응형, 브라우저 크기가 800px 이하일때*/
/*반응형, 브라우저 크기가 640px 이하일때*/
header { position: relative; width: 100%; height: 115px; z-index: 70; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

header::before { display: block; position: absolute; width: 100%; height: 100%; background-color: #fff; }

.fixed header { position: fixed; left: 0; -webkit-transform: translateY(-25px); transform: translateY(-25px); }

.fixed header::before { -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, 0.5); }

h1 { font-size: 0; line-height: 0; }

.accessibility { position: fixed; top: 0; left: 0; width: 100%; z-index: 9999; }

.accessibility a { display: block; overflow: hidden; position: relative; height: 0; text-align: center; }

.accessibility a:focus { height: auto; padding-top: 5px; padding-bottom: 5px; background-color: #000; color: #fff; }

.logo { position: absolute; top: 55px; }

.logo a { width: 113px; height: 20px; }

.gnb { position: relative; text-align: right; }

.gnb ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; gap: 16px; }

.gnb ul li { display: inline-block; }

.gnb ul li a { font-size: 12px; line-height: 20px; color: #999; letter-spacing: -0.025em; }

.gnb ul li a:hover { color: #f9bb00; }

.lnb { position: relative; }

.lnb .menu { position: absolute; top: 0; left: 0; width: 100%; height: 90px; -webkit-transition: height 0.2s ease-in-out; transition: height 0.2s ease-in-out; }

.lnb .menu::before { display: block; position: absolute; top: 90px; left: calc(50% - 1000px); width: 2000px; height: 0; background-color: rgba(78, 80, 89, 0.87); }

.lnb .depth1 { width: 1280px; margin: 0 auto; padding-left: 120px; text-align: center; z-index: 30; }

.lnb .depth1 .depth1_item { display: inline-block; float: none !important; padding: 30px 90px 30px 0; vertical-align: top; }

.lnb .depth1 .depth1_item .depth1_text { font-size: 20px; line-height: 30px; color: #333; }

.lnb .depth1 .depth1_item .depth1_text:hover { color: #f9bb00; }

.lnb .depth1 .depth1_item .depth2 { position: absolute; top: 90px; text-align: left; }

.lnb .depth1 .depth1_item .depth2 .depth2_list { padding: 24px 0 30px; }

.lnb .depth1 .depth1_item .depth2 .depth2_list .depth2_item { display: block; float: none; margin-top: 8px; }

.lnb .depth1 .depth1_item .depth2 .depth2_list .depth2_item:first-child { margin-top: 0; }

.lnb .depth1 .depth1_item .depth2 .depth2_list .depth2_item a { font-size: 15px; line-height: 22px; color: #fff; letter-spacing: -0.025em; }

.lnb .depth1 .depth1_item .depth2 .depth2_list .depth2_item a:hover { color: #f9bb00; }

.lnb .lnb_link { display: none; padding: 0 14px; }

.lnb .lnb_link ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-top: 23px; }

.lnb .lnb_link ul li { margin-bottom: 16px; border: 1px solid #ebebeb; border-radius: 16px; -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); }

.lnb .lnb_link ul li a { display: block; position: relative; padding: 16px 32px; font-size: 15px; line-height: 20px; -webkit-filter: grayscale(1); filter: grayscale(1); }

.lnb .lnb_link ul li a:after { display: block; position: absolute; top: calc(50% - 5px); right: 40px; width: 7px; height: 9px; background-image: url("../images/main_sprite.png"); background-position: -4px -22px; background-repeat: no-repeat; }

.lnb .lnb_link ul li:last-child { margin-bottom: 0; }

.lnb_open .lnb .menu::before { height: calc(100% - 90px); }

.lnb_open .lnb .depth2 { opacity: 1; visibility: visible; }

@media (min-width: 1000px) { .menu_show { display: none; }
  .lnb .lnb_topbox { display: none; }
  .lnb .menu_hide, .lnb .menu_show { display: none; }
  .lnb_curtain { display: none; } }

@media (max-width: 1280px) { .lnb .depth1 { width: 1000px; }
  .lnb .depth1 .depth1_item { padding: 30px 56px 30px 0; }
  .lnb .depth1 .depth1_item .depth1_text { font-size: 17px; line-height: 25px; } }

@media (max-width: 1000px) { header { height: 70px; }
  .logo { top: 20px; left: calc(50% - 49px); }
  .logo a { width: 98px; }
  .fixed header { -webkit-transform: translateY(0); transform: translateY(0); }
  .menu.pulldown .depth1 { height: auto; }
  .lnb { right: -100%; width: 100%; background-color: #fff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 10; }
  .lnb .lnb_topbox { display: block; position: relative; margin-bottom: 25px; padding: 23px 0 22px; background-color: #f9bb00; text-align: center; }
  .lnb .lnb_topbox a { width: 98px; }
  .lnb .menu { position: relative; height: auto; }
  .lnb .menu::before { display: none; }
  .lnb .depth1 { width: auto; height: auto; padding: 0 14px; }
  .lnb .depth1 .depth1_item { display: block; position: relative; margin-bottom: 16px; padding: 0; text-align: left; }
  .lnb .depth1 .depth1_item a:before { display: -webkit-box; display: -ms-flexbox; display: flex; min-width: 45px; width: 31px; height: 22px; background-image: url("../images/main_sprite.png"); background-position: -5px -80px; background-repeat: no-repeat; }
  .lnb .depth1 .depth1_item:nth-child(1) a:before { width: 31px; height: 22px; background-image: url("../images/main_sprite.png"); background-position: -5px -80px; background-repeat: no-repeat; }
  .lnb .depth1 .depth1_item:nth-child(2) a:before { width: 19px; height: 32px; background-image: url("../images/main_sprite.png"); background-position: -45px -78px; background-repeat: no-repeat; }
  .lnb .depth1 .depth1_item:nth-child(3) a:before { width: 25px; height: 26px; background-image: url("../images/main_sprite.png"); background-position: -76px -81px; background-repeat: no-repeat; }
  .lnb .depth1 .depth1_item:nth-child(4) a:before { width: 26px; height: 29px; background-image: url("../images/main_sprite.png"); background-position: -110px -83px; background-repeat: no-repeat; }
  .lnb .depth1 .depth1_item:nth-child(5) a:before { width: 25px; height: 24px; background-image: url("../images/main_sprite.png"); background-position: -153px -88px; background-repeat: no-repeat; }
  .lnb .depth1 .depth1_item:last-child { margin-bottom: 0; }
  .lnb .depth1 .depth1_item .depth1_text { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 12px 5px; font-size: 14px; line-height: 22px; font-weight: 700; }
  .lnb_show .lnb { right: 0; }
  .lnb .lnb_link { display: block; }
  .lnb .menu_hide { display: block; position: absolute; top: 14px; right: 14px; width: 35px; }
  .lnb .menu_hide .menu_button { display: block; width: 100%; height: 35px; border: none; margin: 0; padding: 0; font-size: 0; }
  .lnb .menu_hide .menu_button:before { display: block; position: absolute; top: 10px; left: 10px; width: 16px; height: 16px; background-image: url("../images/main_sprite.png"); background-position: -214px -90px; background-repeat: no-repeat; }
  .gnb { display: none; } }

footer { position: relative; padding: 80px 0; background-color: #f4f4f4; font-size: 12px; line-height: 20px; }

footer .footer_top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

footer .footer_top .footer_link { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .footer_top .footer_link li { position: relative; }

footer .footer_top .footer_link li a { padding: 0 14px; font-size: 12px; line-height: 20px; color: #333; font-weight: 300; }

footer .footer_top .footer_link li:hover a { color: #f9bb00; }

footer .footer_top .footer_link li:after { content: ''; display: block; position: absolute; right: 0; top: 7px; width: 1px; height: 8px; background-color: #999; }

footer .footer_top .footer_link li:first-child a { padding-left: 0; }

footer .footer_top .footer_link li:last-child:after { display: none; }

footer .footer_top .footer_link li.privacy a { font-weight: 500; }

footer .footer_top .family_site { position: relative; }

footer .footer_top .family_site .family_btn:after { display: inline-block; margin-left: 5px; content: '+'; }

footer .footer_top .family_site .layer { display: none; overflow-y: scroll; position: absolute; bottom: 24px; left: 0; width: 170px; height: 280px; border: 0.5px solid #ebebeb; -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); background-color: #fff; }

footer .footer_top .family_site .layer li a { padding: 8px 12px; font-size: 15px; line-height: 30px; }

footer .footer_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 35px; }

footer .footer_bottom .footer_con .title { display: block; }

footer .footer_bottom .footer_con .text { display: block; margin-top: 30px; color: #999; line-height: 24px; }

footer .footer_bottom .sns_box ul { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 8px; }

footer .footer_bottom .sns_box ul li { width: 32px; height: 32px; background-color: #fff; border-radius: 50%; }

footer .footer_bottom .sns_box ul li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; font-size: 0; line-height: 0; }

footer .footer_bottom .sns_box ul li a::before { display: block; width: 15px; height: 11px; background-image: url("../images/main_sprite.png"); background-position: -98px -61px; background-repeat: no-repeat; }

footer .footer_bottom .sns_box ul li.youtube a:before { width: 15px; height: 11px; background-image: url("../images/main_sprite.png"); background-position: -98px -61px; background-repeat: no-repeat; }

footer .footer_bottom .sns_box ul li.insta a:before { width: 14px; height: 14px; background-image: url("../images/main_sprite.png"); background-position: -120px -61px; background-repeat: no-repeat; }

footer .footer_bottom .sns_box ul li.facebook a:before { width: 8px; height: 16px; background-image: url("../images/main_sprite.png"); background-position: -143px -61px; background-repeat: no-repeat; }

footer .footer_bottom .sns_box ul li.tictok a:before { width: 18px; height: 20px; background-image: url("../images/main_sprite.png"); background-position: -158px -59px; background-repeat: no-repeat; }

@media (max-width: 800px) { footer { padding: 50px 0; }
  footer .footer_top { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 10px; }
  footer .footer_top .footer_link { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 10px; }
  footer .footer_top .footer_link li a { padding: 0; }
  footer .footer_top .footer_link li:after { display: none; } }

@media (max-width: 640px) { footer .footer_bottom { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; gap: 20px; } }

/* 초기화 */
a:link { color: #555; text-decoration: none; }

a:visited { color: #555; text-decoration: none; }

a:hover { color: #555; text-decoration: none; }

a:focus { text-decoration: underline; }

a:active { color: #555; text-decoration: none; }

#wrapper { position: relative; max-width: 1920px; min-width: 1232px; overflow: hidden; margin: 0 auto; }

.wrap { position: relative; width: 1232px; margin: 0 auto; }

body { font-family: 'Noto Sans KR', sans-serif; font-size: 16px; }

@media (max-width: 1280px) { #wrapper { min-width: 1000px; }
  .wrap { width: 1000px; } }

@media (max-width: 1000px) { #wrapper { min-width: 94%; }
  .wrap { width: 94%; } }

.visual { position: relative; width: 1440px; margin: 0 auto; }

.visual .slide_list { overflow: hidden; border-radius: 0 0 45px 45px; -webkit-box-shadow: 80px 80px 128px rgba(0, 0, 0, 0.1); box-shadow: 80px 80px 128px rgba(0, 0, 0, 0.1); }

.visual .slide_list .slide_item { width: 100%; height: 495px; }

.visual .slide_list .slide_item a { display: block; height: 100%; }

.visual .slide_list .slide_item a span { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; font-size: 0; line-height: 0; }

.visual .slide_list .slide_item a span.slide_pc { display: block; }

.visual .slide_list .slide_item a span.slide_m { display: none; }

.visual .slide_control { position: absolute; left: 105px; bottom: -35px; width: 414px; padding: 23px 33px 24px; background-color: #fff; border-radius: 15px; -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); }

.visual .slide_control .control_box { display: inline-block; font-size: 0; line-height: 0; vertical-align: middle; }

.visual .slide_control .control_box button { width: 24px; height: 24px; border: 0; font-size: 0; line-height: 0; }

.visual .slide_control .control_box button::before { display: block; margin: 0 auto; width: 12px; height: 12px; background-image: url("../images/main_sprite.png"); background-position: -3px -2px; background-repeat: no-repeat; }

.visual .slide_control .control_box .auto { margin-right: 25px; }

.visual .slide_control .control_box .auto::before { width: 7px; height: 11px; background-image: url("../images/main_sprite.png"); background-position: -43px -2px; background-repeat: no-repeat; }

.visual .slide_control .control_box .slick-play::before { width: 8px; height: 12px; background-image: url("../images/main_sprite.png"); background-position: -43px -20px; background-repeat: no-repeat; }

.visual .slide_control .control_box .prev { margin-right: 25px; }

.visual .slide_control .control_box .prev::before { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.visual .slide_control .count_box { display: inline-block; margin-left: 15px; vertical-align: middle; }

.visual .slide_control .count_box > span { width: 16px; text-align: center; }

.visual .slide_control .count_box .progress { display: inline-block; position: relative; width: 156px; margin: 0 5px; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; }

.visual .slide_control .count_box .progress .total_bar { display: block; position: relative; height: 2px; background-color: #ebebeb; }

.visual .slide_control .count_box .progress .total_bar .state_bar { display: block; position: absolute; top: 0; left: 0; height: 2px; background-color: #f9bb00; -webkit-transition: width 500ms; transition: width 500ms; }

.visual .slide_control .count_box .progress .total_bar .thumbnail_box { position: absolute; top: 0; left: 0; width: 100%; }

.visual .slide_control .count_box .progress .total_bar .thumbnail_box .slick-dots > li { float: left; }

.visual .slide_control .count_box .progress .total_bar .thumbnail_box .slick-dots > li button { display: block; width: 100%; height: 20px; color: transparent; }

.visual .slide_control .count_box .progress .total_bar .thumbnail_box .slick-dots > li button span { font-size: 0; line-height: 0; }

.visual .slide_control .count_box .current, .visual .slide_control .count_box .total { font-size: 15px; line-height: 24px; color: #999; }

.visual .slide_control .count_box .current { color: #f9bb00; }

@media (max-width: 1440px) { .visual { width: calc(100% - 48px); }
  .visual .slide_list .slide_item { height: 36vw; }
  .visual .slide_control { left: 0; } }

@media (max-width: 800px) { .visual { width: 94%; }
  .visual .slide_list { border-radius: 0 0 16px 16px; }
  .visual .slide_list .slide_item { height: 45vw; }
  .visual .slide_list .slide_item a span.slide_pc { display: none; }
  .visual .slide_list .slide_item a span.slide_m { display: block; }
  .visual .slide_control { position: static; width: 100%; padding: 0; background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
  .visual .slide_control .control_box { display: none; }
  .visual .slide_control .count_box { width: 100%; margin-left: 0; }
  .visual .slide_control .count_box .current, .visual .slide_control .count_box .total { display: none; }
  .visual .slide_control .count_box .progress { width: 100%; }
  .visual .slide_control .count_box .progress .total_bar { background-color: transparent; } }

.event { margin-top: 127px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.event[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.event h2 { font-size: 48px; line-height: 50px; font-size: 45px; color: #333; }

@media (max-width: 1280px) { .event h2 { font-size: 38px; line-height: 40px; } }

@media (max-width: 800px) { .event h2 { font-size: 18px; line-height: 28px; } }

.event .tab_menu { width: 285px; min-width: 285px; margin-right: 36px; margin-top: 78px; }

.event .tab_menu .tab_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.event .tab_menu .tab_item { -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.event .tab_menu .tab_item + .tab_item { margin-top: 16px; }

.event .tab_menu .tab_item .tab_btn { position: relative; width: 100%; padding: 15px 40px 15px 50px; border-radius: 5px 5px 5px 20px; font-size: 17px; line-height: 20px; color: #999; text-align: left; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.event .tab_menu .tab_item .tab_btn:hover { width: calc(100% - 10px); background-color: #f9bb00; color: #fff; -webkit-box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31); box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31); opacity: 0.9; }

.event .tab_menu .tab_item .tab_btn::before { display: block; position: absolute; top: 17px; left: 16px; width: 18px; height: 18px; background-image: url("../images/main_sprite.png"); background-position: -121px -2px; background-repeat: no-repeat; }

.event .tab_menu .tab_item .tab_btn::after { display: block; position: absolute; top: calc(50% - 3px); left: 250px; width: 7px; height: 9px; background-image: url("../images/main_sprite.png"); background-position: -4px -22px; background-repeat: no-repeat; }

.event .tab_menu .tab_item:nth-child(2) .tab_btn::before { background-position: -165px -2px; }

.event .tab_menu .tab_item:nth-child(3) .tab_btn::before { background-position: -209px -2px; }

.event .tab_menu .tab_item:nth-child(2).active .tab_btn::before { background-position: -143px -2px; }

.event .tab_menu .tab_item:nth-child(3).active .tab_btn::before { background-position: -187px -2px; }

.event .tab_menu .tab_item.active .tab_btn { background-color: #f9bb00; color: #fff; -webkit-box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31); box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31); }

.event .tab_menu .tab_item.active .tab_btn::before { background-position: -99px -2px; }

.event .tab_menu .tab_item.active .tab_btn::after { background-position: -18px -22px; }

.event .event_tab { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.event .event_tab .tab_content { display: none; width: calc(100% - 285px); margin-top: -50px; }

.event .event_tab .tab_content.active { display: -webkit-box; display: -ms-flexbox; display: flex; }

.event .event_slide { width: 100%; }

.event .event_slide .slick-list { margin-right: -16px; }

.event .event_slide .slide_item { position: relative; text-align: center; margin-right: 18px; }

.event .event_slide .slide_item a { display: block; }

.event .event_slide .slide_item a .category { position: absolute; top: 16px; right: 18px; padding: 2px 7px; border-radius: 8px 8px 8px 0px; background-color: #f9bb00; font-size: 11px; line-height: 20px; font-weight: 300; color: #fff; z-index: 1; }

.event .event_slide .slide_item a .img_box { overflow: hidden; position: relative; padding: 74px 0 30px; border: 1px solid #ebebeb; border-radius: 24px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02); box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.event .event_slide .slide_item a .img_box img { -webkit-transform: scale(1); transform: scale(1); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.event .event_slide .slide_item a .text_box .title { height: 44px; margin-top: 17px; font-size: 15px; line-height: 22px; font-weight: 500; color: #333; }

.event .event_slide .slide_item a .text_box .price { font-size: 15px; line-height: 20px; font-weight: 400; letter-spacing: -0.025em; color: #f95a00; }

.event .event_slide .slide_item a:hover .img_box { border: 4px solid #f9bb00; }

.event .event_slide .slide_item a:hover .img_box::after { display: none; }

.event .event_slide .slide_item a:hover .img_box img { -webkit-transform: scale(1.1); transform: scale(1.1); }

.event .event_slide .dots { margin-top: 60px; text-align: center; }

.event .event_slide .dots li { display: inline-block; margin: 0 4px; font-size: 0; line-height: 0; }

.event .event_slide .dots li button { width: 12px; height: 12px; border-radius: 50%; background-color: #f3f3f3; }

.event .event_slide .dots .slick-active button { background-color: #f9bb00; }

.event .more { top: 66px; position: absolute; padding-right: 33px; font-size: 15px; line-height: 24px; color: #333; font-weight: 500; }

.event .more:hover { color: #f9bb00; }

.event .more:after { display: block; position: absolute; top: 0; right: 0; width: 24px; height: 24px; background-image: url("../images/main_sprite.png"); background-position: -69px -2px; background-repeat: no-repeat; }

@media (max-width: 800px) { .event .more { top: 16px; right: 16px; padding-right: 20px; font-size: 12px; }
  .event .more:after { -webkit-transform: scale(0.59); transform: scale(0.59); -webkit-transform-origin: right; transform-origin: right; } }

@media (max-width: 800px) { .event { margin-top: 64px; }
  .event .event_tab { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .event .tab_menu { width: 100%; min-width: none; margin: 0; margin-top: 12px; }
  .event .tab_menu .tab_list { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; gap: 8px; }
  .event .tab_menu .tab_item { width: 100%; }
  .event .tab_menu .tab_item + .tab_item { margin-top: 0; }
  .event .tab_menu .tab_item .tab_btn { padding: 9px 40px; border: 0.5px solid #ebebeb; border-radius: 16px; font-size: 14px; text-align: center; -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); }
  .event .tab_menu .tab_item .tab_btn span { vertical-align: middle; }
  .event .tab_menu .tab_item .tab_btn::before { display: inline-block; position: static; margin-right: 10px; -webkit-transform: scale(0.85); transform: scale(0.85); vertical-align: middle; }
  .event .tab_menu .tab_item .tab_btn::after { display: none; }
  .event .tab_menu .tab_item .tab_btn:hover { width: 100%; }
  .event .event_tab .tab_content { width: 100%; margin-top: 20px; }
  .event .more { top: 0; right: 0; } }

.only_emart { margin-top: 155px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.only_emart[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.only_emart .title_box h2 { font-size: 48px; line-height: 50px; color: #000; }

@media (max-width: 1280px) { .only_emart .title_box h2 { font-size: 38px; line-height: 40px; } }

@media (max-width: 800px) { .only_emart .title_box h2 { font-size: 18px; line-height: 28px; } }

.only_emart .title_box span { margin-top: 14px; font-size: 16px; line-height: 24px; color: #f9bb00; }

.only_emart .only_slide { margin-top: 78px; font-size: 0; line-height: 0; }

.only_emart .only_slide .slide_item { position: relative; display: inline-block; width: calc((100% - 49px)/4); margin-right: 16px; vertical-align: top; text-align: center; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.only_emart .only_slide .slide_item a { position: relative; overflow: hidden; display: block; border-radius: 24px; -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); }

.only_emart .only_slide .slide_item a .img_box { overflow: hidden; height: 294px; border-radius: 24px; }

.only_emart .only_slide .slide_item a .img_box span { width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; font-size: 0; line-height: 0; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scale(1); transform: scale(1); }

.only_emart .only_slide .slide_item a .text_box { padding: 0 24px 24px; }

.only_emart .only_slide .slide_item a .text_box .title { margin-top: 13px; font-size: 20px; line-height: 24px; font-weight: 500; color: #333; }

.only_emart .only_slide .slide_item a .text_box p { overflow: hidden; height: 48px; margin-top: 15px; font-size: 17px; line-height: 24px; color: #999; }

.only_emart .only_slide .slide_item a:hover { text-decoration: none; }

.only_emart .only_slide .slide_item a::after { display: block; position: absolute; top: 0; left: 0; width: calc(100% - 2px); height: calc(100% - 2px); border: 1px solid #ebebeb; border-radius: 24px; }

.only_emart .only_slide .slide_item a:hover:after { width: calc(100% - 8px); height: calc(100% - 8px); border: 4px solid #f9bb00; }

.only_emart .only_slide .slide_item:last-child { margin-right: 0; }

.only_emart .only_slide .slide_item:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

.only_emart .only_slide .slide_item:hover a .img_box { border-radius: 20px; }

.only_emart .only_slide .slide_item:hover a .img_box span { -webkit-transform: scale(1.15); transform: scale(1.15); }

@media (max-width: 800px) { .only_emart .title_box span { display: none; } }

@-webkit-keyframes gray { 0% { -webkit-transform: translateY(-6%); transform: translateY(-6%); }
  20% { -webkit-transform: translateY(0); transform: translateY(0);
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }
  50% { -webkit-transform: translateY(-5%); transform: translateY(-5%);
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
  100% { -webkit-transform: translateY(0); transform: translateY(0);
    -webkit-filter: grayscale(0);
            filter: grayscale(0); } }

@keyframes gray { 0% { -webkit-transform: translateY(-6%); transform: translateY(-6%); }
  20% { -webkit-transform: translateY(0); transform: translateY(0);
    -webkit-filter: grayscale(0);
            filter: grayscale(0); }
  50% { -webkit-transform: translateY(-5%); transform: translateY(-5%);
    -webkit-filter: grayscale(1);
            filter: grayscale(1); }
  100% { -webkit-transform: translateY(0); transform: translateY(0);
    -webkit-filter: grayscale(0);
            filter: grayscale(0); } }

@-webkit-keyframes coin1 { 0% { opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-filter: brightness(1);
            filter: brightness(1); }
  50% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  80% { opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  100% { opacity: 0; } }

@keyframes coin1 { 0% { opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-filter: brightness(1);
            filter: brightness(1); }
  50% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  80% { opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  100% { opacity: 0; } }

@-webkit-keyframes coin2 { 0% { opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  30% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  60% { opacity: 0; }
  70% { -webkit-transform: translateY(50%); transform: translateY(50%); }
  100% { opacity: 0; } }

@keyframes coin2 { 0% { opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  30% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  60% { opacity: 0; }
  70% { -webkit-transform: translateY(50%); transform: translateY(50%); }
  100% { opacity: 0; } }

@-webkit-keyframes jump { 0% { -webkit-transform: translateY(-5%); transform: translateY(-5%);
    -webkit-filter: brightness(1.02);
            filter: brightness(1.02); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

@keyframes jump { 0% { -webkit-transform: translateY(-5%); transform: translateY(-5%);
    -webkit-filter: brightness(1.02);
            filter: brightness(1.02); }
  100% { -webkit-transform: translateY(0); transform: translateY(0); } }

.buisness { position: relative; margin-top: 290px; padding: 157px 0 203px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.buisness[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.buisness[data-on=on]::before { opacity: 1; -webkit-transition: all 0.9s ease; transition: all 0.9s ease; -webkit-transform: translateX(0); transform: translateX(0); }

.buisness::before { display: block; position: absolute; bottom: 0; left: 216px; width: 1800px; height: 100%; border-radius: 64px 0px 0px 192px; background: -webkit-gradient(linear, left top, left bottom, from(#fece6a), to(#fee6b4)); background: linear-gradient(#fece6a, #fee6b4); -webkit-transform: translateX(10%); transform: translateX(10%); opacity: 0; }

.buisness .title_box h2 { font-size: 48px; line-height: 50px; color: #000; }

@media (max-width: 1280px) { .buisness .title_box h2 { font-size: 38px; line-height: 40px; } }

@media (max-width: 800px) { .buisness .title_box h2 { font-size: 18px; line-height: 28px; } }

.buisness .title_box span { margin-top: 14px; font-size: 16px; line-height: 24px; color: #333; }

.buisness .buisness_list { margin-top: 40px; font-size: 0; line-height: 0; }

.buisness .buisness_list li { overflow: hidden; display: inline-block; position: relative; width: calc((100% - 32px)/3); height: 418px; margin-right: 16px; background-color: #fff; border-radius: 36px; -webkit-transform: translateY(0); transform: translateY(0); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.buisness .buisness_list li::before { display: block; position: absolute; right: 26px; top: 26px; width: 36px; height: 36px; background-image: url("../images/main_sprite.png"); background-position: -234px -2px; background-repeat: no-repeat; }

.buisness .buisness_list li a { display: block; position: relative; height: 100%; padding: 24px; }

.buisness .buisness_list li a .title { margin-bottom: 30px; font-size: 28px; line-height: 30px; color: #000; font-weight: 500; }

.buisness .buisness_list li a p { font-size: 17px; line-height: 25px; color: #000; font-weight: 400; }

.buisness .buisness_list li a .icon { display: block; position: absolute; left: 24px; bottom: 24px; width: calc(100% - 48px); }

.buisness .buisness_list li a .icon::before { display: block; width: 100%; height: 239px; background-image: url("../images/found1.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }

.buisness .buisness_list li:hover { -webkit-transform: translateY(-15px); transform: translateY(-15px); }

.buisness .buisness_list li:hover .icon::before { -webkit-animation: gray 2s linear infinite alternate; animation: gray 2s linear infinite alternate; }

.buisness .buisness_list li:nth-child(2) .icon::before { position: absolute; bottom: 0; left: 0; background-image: url("../images/found3.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }

.buisness .buisness_list li:nth-child(2) .icon::after { display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 239px; background-image: url("../images/found4.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }

.buisness .buisness_list li:nth-child(2) .icon span { display: block; width: 100%; height: 100%; }

.buisness .buisness_list li:nth-child(2) .icon span:before { display: block; width: 100%; height: 239px; background-image: url("../images/found2.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }

.buisness .buisness_list li:nth-child(2):hover .icon::before { -webkit-animation: coin2 2s cubic-bezier(1, 0.5, 0.5, 1) infinite; animation: coin2 2s cubic-bezier(1, 0.5, 0.5, 1) infinite; }

.buisness .buisness_list li:nth-child(2):hover .icon::after { -webkit-animation: coin1 2s cubic-bezier(1, 0.8, 0.5, 1) infinite; animation: coin1 2s cubic-bezier(1, 0.8, 0.5, 1) infinite; }

.buisness .buisness_list li:nth-child(2):hover img { -webkit-transform: translateY(-6%); transform: translateY(-6%); }

.buisness .buisness_list li:last-child { margin-right: 0; }

.buisness .buisness_list li:last-child .icon::before { background-image: url("../images/found5.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }

.buisness .buisness_list li:last-child:hover .icon::before { -webkit-animation: jump 0.5s linear infinite alternate; animation: jump 0.5s linear infinite alternate; }

@media (max-width: 1280px) { .buisness .buisness_list li { height: 377px; border-radius: 24px; }
  .buisness .buisness_list li a .title { font-size: 24px; }
  .buisness .buisness_list li a p { font-size: 16px; }
  .buisness .buisness_list li a .icon::before { height: 180px; }
  .buisness .buisness_list li:nth-child(2) .icon::after { height: 180px; }
  .buisness .buisness_list li:nth-child(2) .icon span:before { height: 180px; } }

@media (max-width: 1000px) { .buisness .buisness_list li { height: 40vw; }
  .buisness .buisness_list li a .icon::before { height: 17vw; }
  .buisness .buisness_list li:nth-child(2) .icon span:before { height: 17vw; }
  .buisness .buisness_list li:nth-child(2) .icon::after { height: 17vw; } }

@media (max-width: 800px) { .buisness .buisness_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 16px; }
  .buisness .buisness_list li { width: 100%; height: auto; -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05); }
  .buisness .buisness_list li::before { display: none; }
  .buisness .buisness_list li a .title { margin-bottom: 0; font-size: 16px; }
  .buisness .buisness_list li a p { font-size: 14px; line-height: 24px; color: #999; } }

@-webkit-keyframes pin { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(-5%); transform: translateY(-5%); } }

@keyframes pin { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(-5%); transform: translateY(-5%); } }

.store { position: relative; margin-top: 176px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.store[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.store::before { display: block; position: absolute; top: 0; right: calc(50% - 640px); width: 415px; height: 332px; background-image: url("../images/mapPaper.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }

.store::after { display: block; position: absolute; top: 0; right: calc(50% - 640px); width: 415px; height: 334px; background-image: url("../images/mapPin.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; -webkit-animation: pin 0.6s ease infinite alternate; animation: pin 0.6s ease infinite alternate; }

.store h2 { font-size: 48px; line-height: 50px; color: #000; }

.store .search { position: relative; width: 695px; margin-top: 70px; }

.store .search .search_input { position: relative; }

.store .search .search_input .search_bar { width: 100%; padding: 20px 25px; outline: 2px solid #f9bb00; border-radius: 8px 8px 8px 32px; border: 0; font-size: 24px; line-height: 30px; color: #000; }

.store .search .search_input .search_bar:focus { outline: 4px solid #f9bb00; }

.store .search .search_input .search_bar::-webkit-input-placeholder { color: #d1d1d1; }

.store .search .search_input .search_bar:-ms-input-placeholder { color: #d1d1d1; }

.store .search .search_input .search_bar::-ms-input-placeholder { color: #d1d1d1; }

.store .search .search_input .search_bar::placeholder { color: #d1d1d1; }

.store .search .search_input .search_bar::-ms-clear, .store .search .search_input .search_bar::-ms-reveal { display: none; width: 0; height: 0; }

.store .search .search_input .search_bar::-webkit-search-decoration, .store .search .search_input .search_bar::-webkit-search-cancel-button, .store .search .search_input .search_bar::-webkit-search-results-button, .store .search .search_input .search_bar::-webkit-search-results-decoration { display: none; }

.store .search .search_btn { position: absolute; right: 35px; top: calc(50% - 14px); font-size: 0; line-height: 0; width: 30px; height: 28px; background-image: url("../images/main_sprite.png"); background-position: -3px -39px; background-repeat: no-repeat; }

.store .tag_box { width: 695px; margin-top: 20px; font-size: 0; line-height: 0; }

.store .tag_box .tag_list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: nowrap; flex-wrap: nowrap; white-space: nowrap; gap: 16px; width: 100%; }

.store .tag_box .tag_list li { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; text-align: center; }

.store .tag_box .tag_list li a { display: block; width: 100%; padding: 12px 16px; font-size: 17px; line-height: 20px; font-weight: 500; color: #000; background-color: #ebebeb; border-radius: 16px 0px 16px 16px; }

.store .tag_box .tag_list li:hover a { background-color: #f9bb00; }

@media (max-width: 1280px) { .store h2 { font-size: 38px; }
  .store::before { right: 60px; }
  .store::after { right: 60px; }
  .store .search { width: calc(100% - 500px); margin-top: 63px; }
  .store .search .search_input .search_bar { font-size: 20px; }
  .store .tag_box { width: calc(100% - 500px); } }

@media (max-width: 1000px) { .store::before { right: 0; width: 370px; }
  .store::after { right: 0; width: 370px; }
  .store .search { width: calc(100% - 370px); min-width: 400px; }
  .store .search .search_input .search_bar { font-size: 18px; }
  .store .tag_box { width: calc(100% - 370px); min-width: 400px; } }

@media (max-width: 800px) { .store { margin-top: 120px; }
  .store::before { display: none; }
  .store::after { display: none; }
  .store h2 { font-size: 18px; line-height: 28px; }
  .store .search { min-width: auto; width: 100%; margin-top: 20px; }
  .store .search .search_input .search_bar { padding: 12px 50px 12px 15px; border-radius: 16px; font-size: 14px; line-height: 24px; }
  .store .search .search_btn { right: 15px; -webkit-transform: scale(0.7); transform: scale(0.7); }
  .store .tag_box { min-width: auto; width: 100%; overflow-x: auto; }
  .store .tag_box .tag_list { width: 100%; gap: 5px; }
  .store .tag_box .tag_list li a { padding: 9px; font-size: 14px; } }

.app { position: relative; min-height: 950px; margin-top: 165px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.app[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.app[data-on=on]::before { opacity: 1; -webkit-transition: all 0.9s ease; transition: all 0.9s ease; -webkit-transform: translateX(0); transform: translateX(0); }

.app::before { display: block; position: absolute; top: 0; left: 0; width: 1700px; height: 100%; border-radius: 0 256px 64px 0; background: #f3f3f3; opacity: 0; -webkit-transform: translateX(-10%); transform: translateX(-10%); }

.app .img_box { position: absolute; left: 0; top: 120px; width: 620px; }

.app .text_box { padding-top: 260px; padding-left: 50%; text-align: center; }

.app .text_box .title_box span { font-size: 20px; line-height: 24px; color: #f9bb00; }

.app .text_box .title_box h2 { margin-top: 11px; font-size: 48px; line-height: 74px; color: #000; }

.app .text_box .more { position: absolute; padding-right: 33px; font-size: 15px; line-height: 24px; color: #333; font-weight: 500; position: relative; margin-top: 22px; }

.app .text_box .more:hover { color: #f9bb00; }

.app .text_box .more:after { display: block; position: absolute; top: 0; right: 0; width: 24px; height: 24px; background-image: url("../images/main_sprite.png"); background-position: -69px -2px; background-repeat: no-repeat; }

@media (max-width: 800px) { .app .text_box .more { top: 16px; right: 16px; padding-right: 20px; font-size: 12px; }
  .app .text_box .more:after { -webkit-transform: scale(0.59); transform: scale(0.59); -webkit-transform-origin: right; transform-origin: right; } }

.app .text_box .down_box { margin-top: 96px; }

.app .text_box .down_box a { width: 196px; height: 58px; padding: 16px 24px; background-color: #f9bb00; color: #000; border-radius: 12px; -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); font-size: 16px; line-height: 24px; text-align: center; }

.app .text_box .down_box a::before { display: inline-block; margin-right: 8px; width: 16px; height: 16px; background-image: url("../images/main_sprite.png"); background-position: -248px -49px; background-repeat: no-repeat; }

.app .text_box .down_box p { margin-top: 16px; }

@media (max-width: 1280px) { .app .img_box { width: 500px; } }

@media (max-width: 1000px) { .app { min-height: 700px; }
  .app .img_box { width: 400px; }
  .app .text_box { padding-top: 180px; }
  .app .text_box .title_box h2 { font-size: 34px; line-height: 54px; } }

@media (max-width: 800px) { .app { min-height: auto; margin: 96px auto 0; }
  .app::before { display: none; }
  .app .img_box { top: 14px; left: 14px; }
  .app .img_box::before { display: block; width: 128px; height: 128px; background-image: url("../images/appIconMain.png"); background-position: center center; background-size: contain; background-repeat: no-repeat; }
  .app .img_box img { display: none; }
  .app .text_box { min-height: 156px; padding: 14px 14px 16px 156px; border: 1px solid #ebebeb; border-radius: 16px; background-color: #f3f3f3; }
  .app .text_box .title_box span { display: none; }
  .app .text_box .down_box { margin-top: 20px; }
  .app .text_box .down_box a { width: 100%; height: 48px; padding: 11px; }
  .app .text_box .title_box h2 { margin-top: 0; font-size: 18px; line-height: 26px; }
  .app .text_box .down_box p { display: none; }
  .app .text_box .more { display: none; } }

.story { margin-top: 125px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.story[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.story .slide_item { -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.story .slide_item:nth-child(1) { opacity: 0; -webkit-transform: translateX(10%); transform: translateX(10%); }

.story .slide_item:nth-child(2) { opacity: 0; -webkit-transform: translateY(-10%); transform: translateY(-10%); }

.story .slide_item:nth-child(3) { opacity: 0; -webkit-transform: translateY(10%); transform: translateY(10%); }

.story[data-on=on] .sns_slide .slide_item:nth-child(1) { opacity: 1; -webkit-transform: translate(0); transform: translate(0); }

.story[data-on=on] .sns_slide .slide_item:nth-child(2) { opacity: 1; -webkit-transform: translate(0); transform: translate(0); }

.story[data-on=on] .sns_slide .slide_item:nth-child(3) { opacity: 1; -webkit-transform: translate(0); transform: translate(0); }

.story .title_box { float: left; }

.story .title_box h2 { font-size: 48px; line-height: 50px; font-weight: 700; }

@media (max-width: 1280px) { .story .title_box h2 { font-size: 38px; line-height: 40px; } }

@media (max-width: 800px) { .story .title_box h2 { font-size: 18px; line-height: 28px; } }

.story .title_box h2 em { display: block; font-weight: 300; }

.story .title_box span { margin-top: 12px; color: #f9bb00; }

.story .title_box .sns_list { margin-top: 18px; font-size: 0; line-height: 0; }

.story .title_box .sns_list li { display: inline-block; vertical-align: top; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

.story .title_box .sns_list li a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 36px; height: 36px; }

.story .title_box .sns_list li a::before { display: block; width: 23px; height: 16px; background-image: url("../images/main_sprite.png"); background-position: -98px -28px; background-repeat: no-repeat; }

.story .title_box .sns_list li.youtube a:before { width: 23px; height: 16px; background-image: url("../images/main_sprite.png"); background-position: -98px -28px; background-repeat: no-repeat; }

.story .title_box .sns_list li.insta a:before { width: 22px; height: 22px; background-image: url("../images/main_sprite.png"); background-position: -127px -28px; background-repeat: no-repeat; }

.story .title_box .sns_list li.facebook a:before { width: 18px; height: 18px; background-image: url("../images/main_sprite.png"); background-position: -156px -28px; background-repeat: no-repeat; }

.story .title_box .sns_list li.tictok a:before { width: 18px; height: 20px; background-image: url("../images/main_sprite.png"); background-position: -183px -28px; background-repeat: no-repeat; }

.story .title_box .sns_list li:hover { -webkit-filter: saturate(3); filter: saturate(3); -webkit-filter: sepia(0.5); filter: sepia(0.5); -webkit-filter: brightness(0.7); filter: brightness(0.7); }

.story .sns_slide { position: relative; float: right; width: 908px; height: 561px; }

.story .sns_slide .odd .slide_item:nth-child(odd) { margin-top: 64px; }

.story .sns_slide .even .slide_item:nth-child(even) { margin-top: 64px; }

.story .sns_slide .slide_item { width: 295px; margin-right: 10px; -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.story .sns_slide .slide_item a { display: block; text-decoration: none; }

.story .sns_slide .slide_item a .img_box { overflow: hidden; width: 100%; height: 388px; border: 4px solid transparent; border-radius: 48px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.story .sns_slide .slide_item a .img_box span { display: block; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: cover; font-size: 0; line-height: 0; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.story .sns_slide .slide_item a .text_box { margin-top: 15px; }

.story .sns_slide .slide_item a .text_box .title .icon { display: inline-block; position: relative; width: 48px; height: 48px; border: 1px solid #ebebeb; border-radius: 50%; vertical-align: middle; }

.story .sns_slide .slide_item a .text_box .title .icon::before { display: block; position: absolute; left: calc(50% - 12px); top: calc(50% - 12px); width: 24px; height: 24px; background-image: url("../images/main_sprite.png"); background-position: -214px -56px; background-repeat: no-repeat; }

.story .sns_slide .slide_item a .text_box .title span { display: inline-block; margin-left: 8px; font-size: 24px; line-height: 30px; font-weight: 300; color: #333; vertical-align: middle; }

.story .sns_slide .slide_item a .text_box .title p { overflow: hidden; height: 44px; margin-left: 60px; font-size: 15px; line-height: 22px; color: #999; }

.story .sns_slide .slide_item a:hover .img_box { border: 4px solid #f9bb00; }

.story .sns_slide .slide_item a:hover .img_box span { -webkit-transform: scale(1.1); transform: scale(1.1); }

.story .sns_slide .slide_item a:hover .text_box .title .icon { border: 1px solid #f9bb00; background-color: #f9f9f9; }

.story .sns_slide .slide_item a:hover .text_box .title span { color: #f9bb00; }

.story .sns_slide .slide_item a:hover .text_box .title p { color: #f9bb00; }

.story .sns_slide .slide_item:nth-child(2n - 1) .img_box { border-radius: 48px 48px 48px 0; }

.story .sns_slide .slide_item:nth-child(3n) .img_box { border-radius: 48px 0 48px 48px; }

.story .sns_slide .slide_item:nth-child(1) { opacity: 0; -webkit-transform: translateX(-300px); transform: translateX(-300px); }

.story .sns_slide .slide_item:nth-child(2) { opacity: 0; -webkit-transform: translateY(300px); transform: translateY(300px); }

.story .sns_slide .slide_item:nth-child(3) { opacity: 0; -webkit-transform: translateY(-300px); transform: translateY(-300px); }

.story .sns_slide .control_box { position: absolute; top: calc(50% - 27px); width: 100%; }

.story .sns_slide .control_box button { position: absolute; left: 16px; width: 54px; height: 54px; font-size: 0; line-height: 0; border: 1px solid #999; border-radius: 50%; background-color: rgba(255, 255, 255, 0.66); }

.story .sns_slide .control_box button::before { display: block; margin: 0 auto; width: 20px; height: 18px; background-image: url("../images/main_sprite.png"); background-position: -54px -41px; background-repeat: no-repeat; }

.story .sns_slide .control_box button:hover { background-color: #fff; }

.story .sns_slide .control_box button.next { left: auto; right: 16px; }

.story .sns_slide .control_box button.next::before { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

@media (max-width: 800px) { .story { margin-top: 96px; }
  .story .title_box h2 em { display: inline-block; font-weight: 600; }
  .story .title_box span { display: none; }
  .story .title_box .sns_list { display: none; }
  .story .sns_slide { margin-top: 16px; }
  .story .sns_slide .even .slide_item:nth-child(even) { margin-top: 0; } }

.media { margin: 120px 0 160px; opacity: 0; -webkit-transform: translateY(200px); transform: translateY(200px); -webkit-transition: all 0.7s ease; transition: all 0.7s ease; }

.media[data-on=on] { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }

.media .wrap { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 16px; }

.media .wrap .media_item { position: relative; width: 50%; padding: 32px 32px 40px 32px; background-color: #fff; border-radius: 32px; -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05); }

.media .wrap .media_item h2 { margin-bottom: 22px; font-size: 20px; line-height: 24px; color: #000; font-weight: 500; }

.media .wrap .media_item li { font-size: 0; line-height: 0; }

.media .wrap .media_item li a { display: block; }

.media .wrap .media_item li a .text { display: inline-block; width: calc(100% - 90px); margin-right: 10px; font-size: 15px; line-height: 24px; color: #999; font-weight: 400; letter-spacing: -0.025em; vertical-align: top; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.media .wrap .media_item li a .time { display: inline-block; width: 80px; text-align: right; font-size: 15px; line-height: 20px; color: #999; font-weight: 400; letter-spacing: -0.025em; vertical-align: top; }

.media .wrap .media_item li a:hover .text { color: #f9bb00; }

.media .wrap .media_item li a:hover .time { color: #f9bb00; }

.media .wrap .media_item li + li { margin-top: 15px; }

.media .wrap .media_item .more { top: 32px; right: 32px; position: absolute; padding-right: 33px; font-size: 15px; line-height: 24px; color: #333; font-weight: 500; }

.media .wrap .media_item .more:hover { color: #f9bb00; }

.media .wrap .media_item .more:after { display: block; position: absolute; top: 0; right: 0; width: 24px; height: 24px; background-image: url("../images/main_sprite.png"); background-position: -69px -2px; background-repeat: no-repeat; }

@media (max-width: 800px) { .media .wrap .media_item .more { top: 16px; right: 16px; padding-right: 20px; font-size: 12px; }
  .media .wrap .media_item .more:after { -webkit-transform: scale(0.59); transform: scale(0.59); -webkit-transform-origin: right; transform-origin: right; } }

@media (max-width: 800px) { .media { margin: 96px 0; }
  .media .wrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .media .wrap .media_item { width: 100%; padding: 16px 16px 24px 16px; border-radius: 16px; }
  .media .wrap .media_item h2 { font-size: 16px; }
  .media .wrap .media_item li a .text { font-size: 14px; }
  .media .wrap .media_item li a .time { font-size: 14px; } }
/*# sourceMappingURL=style.css.map */