@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 1001px 이상일때*/
/*반응형, 브라우저 크기가 1280px 이하일때*/
/*반응형, 브라우저 크기가 1000px 이하일때*/
/*반응형, 브라우저 크기가 640px 이하일때*/
h1 {
  font-size: 0;
  line-height: 0;
}

.accessibility {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.accessibility a {
  display: block;
  overflow: hidden;
  position: relative;
  height: 0;
  text-align: center;
}
.accessibility a:focus {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
  color: #fff;
}

.logo a {
  width: 113px;
  height: 20px;
}

.gnb {
  position: absolute;
  top: 0;
  right: 0;
}
.gnb li {
  display: inline-block;
}
.gnb li a {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  letter-spacing: -0.025em;
}
.gnb li a:hover {
  color: #f9bb00;
}
.gnb li + li {
  margin-left: 20px;
}

.lnb .depth1_item {
  display: inline-block;
  vertical-align: top;
}
.lnb .depth1_item .depth1_text {
  font-size: 20px;
  line-height: 30px;
  color: #333;
}
.lnb .depth1_item .depth1_text:hover {
  color: #f9bb00;
}

footer {
  position: relative;
  padding: 90px 0;
  background-color: #f4f4f4;
  font-size: 12px;
  line-height: 20px;
}
footer .footer_link {
  font-size: 0;
  line-height: 0;
}
footer .footer_link li {
  display: inline-block;
  position: relative;
}
footer .footer_link li a {
  padding: 0 10px;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  font-weight: 300;
}
footer .footer_link li:hover a {
  color: #f9bb00;
}
footer .footer_link li:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 7px;
  width: 1px;
  height: 8px;
  background-color: #999;
}
footer .footer_link li:first-child a {
  padding-left: 0;
}
footer .footer_link li.privacy a {
  font-weight: 500;
}
footer .family_site {
  position: absolute;
  right: 0;
  top: 0;
}
footer .family_site .family_btn:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/main_sprite.png");
  background-position: -214px -56px;
  background-repeat: no-repeat;
}
footer .family_site .layer {
  display: none;
  overflow-y: scroll;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 170px;
  height: 160px;
  background-color: #fff;
}
footer .family_site .layer li a {
  padding: 8px 12px;
  font-size: 15px;
  line-height: 30px;
}
footer .footer_con .title {
  display: block;
}
footer .footer_con .text {
  display: block;
  margin-top: 50px;
}

/* 초기화 */
a:link {
  color: #555;
  text-decoration: none;
}

a:visited {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #555;
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
}

a:active {
  color: #555;
  text-decoration: none;
}

#wrapper {
  position: relative;
  min-width: 1280px;
  overflow: hidden;
}

.wrap {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

@media (max-width: 1280px) {
  #wrapper {
    min-width: 1000px;
  }
  .wrap {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  #wrapper {
    min-width: 94%;
  }
  .wrap {
    width: 94%;
  }
}
/* slick */
.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
  position: relative;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
}

.visual {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}
.visual .slide_list {
  overflow: hidden;
  border-radius: 0 0 45px 45px;
  box-shadow: 80px 80px 128px rgba(0, 0, 0, 0.1);
}
.visual .slide_list .slide_item {
  width: 100%;
  height: 495px;
}
.visual .slide_list .slide_item a {
  display: block;
  height: 100%;
}
.visual .slide_list .slide_item a span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 0;
  line-height: 0;
}
.visual .slide_list .slide_item a span.slide_m {
  display: none;
}
.visual .slide_control {
  position: absolute;
  left: 105px;
  bottom: -35px;
  width: 414px;
  padding: 23px 33px 24px;
  background-color: #fff;
  border-radius: 15px;
}
.visual .slide_control .control_box {
  display: inline-block;
}
.visual .slide_control .control_box button {
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
}
.visual .slide_control .control_box button::before {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/main_sprite.png");
  background-position: -3px -2px;
  background-repeat: no-repeat;
}
.visual .slide_control .control_box .auto::before {
  width: 7px;
  height: 11px;
  background-image: url("../images/main_sprite.png");
  background-position: -43px -2px;
  background-repeat: no-repeat;
}
.visual .slide_control .control_box .slick-play::before {
  width: 8px;
  height: 12px;
  background-image: url("../images/main_sprite.png");
  background-position: -43px -20px;
  background-repeat: no-repeat;
}
.visual .slide_control .control_box .prev::before {
  transform: rotate(180deg);
}
.visual .slide_control .count_box {
  display: inline-block;
}
.visual .slide_control .count_box .progress {
  display: inline-block;
  position: relative;
  width: 156px;
  box-sizing: border-box;
  vertical-align: middle;
}
.visual .slide_control .count_box .progress .total_bar {
  display: block;
  position: relative;
  height: 2px;
  background-color: #ebebeb;
}
.visual .slide_control .count_box .progress .total_bar .state_bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #f9bb00;
  transition: width 500ms;
}
.visual .slide_control .count_box .progress .total_bar .thumbnail_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.visual .slide_control .count_box .progress .total_bar .thumbnail_box .slick-dots > li {
  float: left;
}
.visual .slide_control .count_box .progress .total_bar .thumbnail_box .slick-dots > li button {
  display: block;
  width: 100%;
  height: 20px;
  color: transparent;
}
.visual .slide_control .count_box .progress .total_bar .thumbnail_box .slick-dots > li button span {
  font-size: 0;
  line-height: 0;
}
.visual .slide_control .count_box .current,
.visual .slide_control .count_box .total {
  font-size: 15px;
  line-height: 24px;
  color: #999;
}
.visual .slide_control .count_box .current {
  color: #f9bb00;
}

.event {
  margin-top: 127px;
}
.event h2 {
  font-size: 45px;
  line-height: 50px;
  color: #333;
}
.event .tab_menu {
  float: left;
  width: 285px;
  margin-top: 78px;
}
.event .tab_menu .tab_item {
  transition: all 0.2s ease-in-out;
}
.event .tab_menu .tab_item + .tab_item {
  margin-top: 16px;
}
.event .tab_menu .tab_item .tab_btn {
  position: relative;
  width: 100%;
  padding: 15px 40px 15px 50px;
  border-radius: 5px 5px 5px 20px;
  font-size: 17px;
  line-height: 20px;
  color: #999;
  text-align: left;
}
.event .tab_menu .tab_item .tab_btn:hover {
  background-color: #f9bb00;
  color: #fff;
  box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31);
}
.event .tab_menu .tab_item .tab_btn::before {
  display: block;
  position: absolute;
  top: 17px;
  left: 16px;
  width: 18px;
  height: 18px;
  background-image: url("../images/main_sprite.png");
  background-position: -121px -2px;
  background-repeat: no-repeat;
}
.event .tab_menu .tab_item .tab_btn::after {
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  right: 30px;
  width: 7px;
  height: 9px;
  background-image: url("../images/main_sprite.png");
  background-position: -4px -22px;
  background-repeat: no-repeat;
}
.event .tab_menu .tab_item:nth-child(2) .tab_btn::before {
  background-position: -165px -2px;
}
.event .tab_menu .tab_item:nth-child(3) .tab_btn::before {
  background-position: -209px -2px;
}
.event .tab_menu .tab_item:nth-child(2).active .tab_btn::before {
  background-position: -143px -2px;
}
.event .tab_menu .tab_item:nth-child(3).active .tab_btn::before {
  background-position: -187px -2px;
}
.event .tab_menu .tab_item.active .tab_btn {
  background-color: #f9bb00;
  color: #fff;
  box-shadow: 0 8px 24px rgba(249, 187, 0, 0.31);
}
.event .tab_menu .tab_item.active .tab_btn::before {
  background-position: -99px -2px;
}
.event .tab_menu .tab_item.active .tab_btn::after {
  background-position: -18px -22px;
}
.event .event_tab .tab_content {
  display: none;
  float: right;
  width: 909px;
  margin-top: -50px;
}
.event .event_tab .tab_content.active {
  display: block;
}
.event .event_slide .slide_item {
  position: relative;
  text-align: center;
  margin-right: 18px;
}
.event .event_slide .slide_item a {
  display: block;
}
.event .event_slide .slide_item a .category {
  position: absolute;
  top: 16px;
  right: 18px;
  padding: 2px 7px;
  border-radius: 8px 8px 8px 0px;
  background-color: #f9bb00;
  font-size: 11px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
}
.event .event_slide .slide_item a .img_box {
  position: relative;
  padding: 74px 0 30px;
  border: 4px solid transparent;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.02);
  transition: all 0.1s ease-in-out;
}
.event .event_slide .slide_item a .img_box:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid #ebebeb;
  border-radius: 24px;
}
.event .event_slide .slide_item a .img_box img {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.event .event_slide .slide_item a .text_box .title {
  height: 44px;
  margin-top: 17px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: #333;
}
.event .event_slide .slide_item a .text_box .price {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.025em;
  color: #f95a00;
}
.event .event_slide .slide_item a:hover .img_box {
  border: 4px solid #f9bb00;
}
.event .event_slide .slide_item a:hover .img_box::after {
  display: none;
}
.event .event_slide .slide_item a:hover .img_box img {
  transform: scale(1.1);
}
.event .event_slide .dots {
  margin-top: 60px;
  text-align: center;
}
.event .event_slide .dots li {
  display: inline-block;
  margin: 0 4px;
  font-size: 0;
  line-height: 0;
}
.event .event_slide .dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f3f3f3;
}
.event .event_slide .dots .slick-active button {
  background-color: #f9bb00;
}
.event .more {
  top: 66px;
  position: absolute;
  padding-right: 33px;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  font-weight: 500;
}
.event .more:hover {
  color: #f9bb00;
}
.event .more:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../images/main_sprite.png");
  background-position: -69px -2px;
  background-repeat: no-repeat;
}

.only_emart {
  margin-top: 195px;
}
.only_emart .title_box h2 {
  font-size: 48px;
  line-height: 50px;
  color: #000;
}
.only_emart .title_box span {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #f9bb00;
}
.only_emart .only_slide {
  margin-top: 78px;
  font-size: 0;
  line-height: 0;
}
.only_emart .only_slide .slide_item {
  position: relative;
  display: inline-block;
  width: calc((100% - 49px) / 4);
  margin-right: 16px;
  vertical-align: top;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.only_emart .only_slide .slide_item a {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 24px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.only_emart .only_slide .slide_item a .img_box {
  overflow: hidden;
  height: 294px;
  border-radius: 24px;
}
.only_emart .only_slide .slide_item a .img_box span {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 0;
  line-height: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
.only_emart .only_slide .slide_item a .text_box {
  padding: 0 24px 24px;
}
.only_emart .only_slide .slide_item a .text_box .title {
  margin-top: 13px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #333;
}
.only_emart .only_slide .slide_item a .text_box p {
  overflow: hidden;
  height: 48px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 24px;
  color: #999;
}
.only_emart .only_slide .slide_item a:hover {
  text-decoration: none;
}
.only_emart .only_slide .slide_item a::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #ebebeb;
  border-radius: 24px;
}
.only_emart .only_slide .slide_item a:hover:after {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 4px solid #f9bb00;
}
.only_emart .only_slide .slide_item:last-child {
  margin-right: 0;
}
.only_emart .only_slide .slide_item:hover {
  transform: translateY(-10px);
}
.only_emart .only_slide .slide_item:hover a .img_box {
  border-radius: 20px;
}
.only_emart .only_slide .slide_item:hover a .img_box span {
  transform: scale(1.15);
}

.buisness {
  position: relative;
  margin-top: 290px;
  padding: 157px 0 203px;
}
.buisness::before {
  display: block;
  position: absolute;
  top: 0;
  left: 216px;
  width: 1800px;
  height: 100%;
  border-radius: 64px 0px 0px 192px;
  background: linear-gradient(#fece6a, #fee6b4);
}
.buisness .title_box h2 {
  font-size: 48px;
  line-height: 50px;
  color: #000;
}
.buisness .title_box span {
  margin-top: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}
.buisness .buisness_list {
  margin-top: 40px;
  font-size: 0;
  line-height: 0;
}
.buisness .buisness_list li {
  display: inline-block;
  width: calc((100% - 32px) / 3);
  height: 418px;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 36px;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}
.buisness .buisness_list li:last-child {
  margin-right: 0;
}
.buisness .buisness_list li:hover {
  transform: translateY(-15px);
}
.buisness .buisness_list li::before {
  display: block;
  position: absolute;
  right: 26px;
  top: 26px;
  width: 36px;
  height: 36px;
  background-image: url("../images/main_sprite.png");
  background-position: -234px -2px;
  background-repeat: no-repeat;
}
.buisness .buisness_list li a {
  display: block;
  height: 100%;
  padding: 24px;
}
.buisness .buisness_list li a .title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 30px;
  color: #000;
  font-weight: 500;
}
.buisness .buisness_list li a p {
  font-size: 17px;
  line-height: 25px;
  color: #000;
  font-weight: 400;
}

@keyframes pin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5%);
  }
}
.store {
  position: relative;
  margin-top: 176px;
}
.store::before {
  display: block;
  position: absolute;
  top: 0;
  right: calc(50% - 640px);
  width: 415px;
  height: 332px;
  background-image: url("../images/mapPaper.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.store::after {
  display: block;
  position: absolute;
  top: 0;
  right: calc(50% - 640px);
  width: 415px;
  height: 334px;
  background-image: url("../images/mapPin.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: pin 0.6s ease infinite alternate;
}
.store h2 {
  font-size: 48px;
  line-height: 50px;
  color: #000;
}
.store .search {
  position: relative;
  width: 695px;
  margin-top: 70px;
}
.store .search .search_input {
  position: relative;
}
.store .search .search_input .search_bar {
  width: 100%;
  padding: 20px 25px;
  outline: 2px solid #f9bb00;
  border-radius: 8px 8px 8px 32px;
  border: 0;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}
.store .search .search_input .search_bar:focus {
  outline: 4px solid #f9bb00;
}
.store .search .search_input .search_bar::-moz-placeholder {
  color: #d1d1d1;
}
.store .search .search_input .search_bar::placeholder {
  color: #d1d1d1;
}
.store .search .search_input .search_bar::-ms-clear, .store .search .search_input .search_bar::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.store .search .search_input .search_bar::-webkit-search-decoration, .store .search .search_input .search_bar::-webkit-search-cancel-button, .store .search .search_input .search_bar::-webkit-search-results-button, .store .search .search_input .search_bar::-webkit-search-results-decoration {
  display: none;
}
.store .search .search_btn {
  position: absolute;
  right: 35px;
  top: calc(50% - 14px);
  font-size: 0;
  line-height: 0;
  width: 30px;
  height: 28px;
  background-image: url("../images/main_sprite.png");
  background-position: -3px -39px;
  background-repeat: no-repeat;
}
.store .tag_box {
  width: 695px;
  margin-top: 20px;
  font-size: 0;
  line-height: 0;
}
.store .tag_box li {
  display: inline-block;
  width: calc((100% - 65px) / 5);
  margin-right: 16px;
  text-align: center;
}
.store .tag_box li:last-child {
  margin-right: 0;
}
.store .tag_box li a {
  display: block;
  width: 100%;
  padding: 11px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  background-color: #ebebeb;
  border-radius: 16px 0px 16px 16px;
}
.store .tag_box li:hover a {
  background-color: #f9bb00;
}

.app {
  position: relative;
  min-height: 935px;
  margin-top: 165px;
}
.app::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 216px;
  width: 1800px;
  height: 100%;
  border-radius: 0 192px 64px 0;
  background: #f3f3f3;
}
.app .img_box {
  position: absolute;
  left: 0;
  top: 120px;
  width: 675px;
}
.app .text_box {
  padding-top: 260px;
  padding-left: 50%;
  text-align: center;
}
.app .text_box .title_box span {
  font-size: 20px;
  line-height: 24px;
  color: #f9bb00;
}
.app .text_box .title_box h2 {
  margin-top: 11px;
  font-size: 48px;
  line-height: 74px;
  color: #000;
}
.app .text_box .more {
  position: absolute;
  padding-right: 33px;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  font-weight: 500;
  position: relative;
  margin-top: 22px;
}
.app .text_box .more:hover {
  color: #f9bb00;
}
.app .text_box .more:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../images/main_sprite.png");
  background-position: -69px -2px;
  background-repeat: no-repeat;
}
.app .text_box .down_box {
  margin-top: 96px;
}
.media {
  margin: 120px 0 160px;
}
.media h2 {
  margin-bottom: 22px;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 500;
}
.media .media_item {
  position: relative;
  width: calc((100% - 16px) / 2);
  padding: 32px 32px 40px 32px;
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}
.media .media_item li {
  font-size: 0;
  line-height: 0;
}
.media .media_item li a {
  display: block;
}
.media .media_item li a .text {
  display: inline-block;
  width: calc(100% - 90px);
  margin-right: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  font-weight: 400;
  letter-spacing: -0.025em;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.media .media_item li a .time {
  display: inline-block;
  width: 80px;
  text-align: right;
  font-size: 15px;
  line-height: 20px;
  color: #999;
  font-weight: 400;
  letter-spacing: -0.025em;
  vertical-align: top;
}
.media .media_item li a:hover .text {
  color: #f9bb00;
}
.media .media_item li a:hover .time {
  color: #f9bb00;
}
.media .media_item li + li {
  margin-top: 15px;
}
.media .media_item .more {
  top: 32px;
  right: 32px;
  position: absolute;
  padding-right: 33px;
  font-size: 15px;
  line-height: 24px;
  color: #333;
  font-weight: 500;
}
.media .media_item .more:hover {
  color: #f9bb00;
}
.media .media_item .more:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../images/main_sprite.png");
  background-position: -69px -2px;
  background-repeat: no-repeat;
}
.media .notice {
  float: left;
}
.media .news {
  float: right;
}/*# sourceMappingURL=style.css.map */